footer {
    color: var(--active-accent);
    padding: var(--element-block-padding) var(--page-padding);
    background: var(--active-secondary);
    overflow: hidden;
    gap: var(--page-padding);

    @include devices(phone) {
        padding: var(--box-padding) var(--page-padding) var(--element-block-padding);
        gap: var(--parents-elements-gap);
    }

    &>* {
        z-index: 2;
    }

    .partner-div {
        padding: var(--header-gap) 0 var(--page-padding);
        gap: var(--parents-elements-gap);

        @include devices(phone) {
            flex-direction: column;
            align-items: flex-start;
            // align-items: flex-end;
            gap: var(--has-button-gap);
            padding-bottom: 0;
        }

        .title {
            width: 64%;
            gap: var(--paragraphs);

            @include devices(sm-laptop) {
                width: 72%;
            }

            @include devices(tablet) {
                width: 80%;
            }

            @include devices(phone) {
                width: 96%;
                align-self: flex-start;
            }
        }


        .livey {
            @include devices(phone) {
                transform: scale(0.8);
                left: -9%;
                top: -28px;
            }

            .footer-send {

                & .iconer {
                    position: absolute;
                }

                & #rotatingText {
                    animation-name: rotate-text;
                    animation-duration: 10s;
                    animation-timing-function: linear;
                    animation-iteration-count: infinite;
                    animation-play-state: running;


                    .text {
                        letter-spacing: 13px;
                        text-transform: uppercase;
                        fill: var(--active-accent);

                        @include devices(tablet) {
                            letter-spacing: 14.5px;
                        }

                        @include devices(phone) {
                            letter-spacing: 16px;
                        }

                    }

                }

                &:hover {
                    #rotatingText {
                        animation-play-state: paused;
                    }
                }

            }
        }

    }

    .copyright {
        @include devices(phone) {
            align-items: flex-end;
        }

        .copyright-list {
            gap: var(--paragraphs);

            @include devices(phone) {
                flex-direction: column;
                align-items: flex-start;
            }

            .social-media {
                gap: var(--siblings);

                img {
                    width: 16px;
                    height: auto;
                }
            }
        }

        .toTop {
            gap: var(--buttons-links);
            cursor: pointer;
        }
    }
}