footer {
    color: var(--active-accent);
    padding: var(--element-block-padding) var(--page-padding);
    background: var(--active-secondary);
    overflow: hidden;
    gap: var(--page-padding);

    @include devices(phone) {
        padding: var(--box-padding) var(--page-padding) var(--element-block-padding);
        gap: var(--parents-elements-gap);
    }

    &>* {
        z-index: 2;
    }

    .partner-div {
        padding: var(--header-gap) 0 var(--page-padding);
        gap: var(--parents-elements-gap);

        @include devices(phone) {
            padding-bottom: var(--parents-elements-gap);
        }

        .title {
            width: 56%;
            gap: var(--paragraphs);

            @include devices(tablet) {
                width: 72%;
            }

            @include devices(phone) {
                width: 100%;
            }
        }


        .footer-send {

            & .iconer {
                position: absolute;
            }

            & #rotatingText {
                animation-name: rotate-text;
                animation-duration: 10s;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-play-state: running;


                .text {
                    letter-spacing: 13px;
                    text-transform: uppercase;
                    fill: var(--active-accent);
                }

            }

            &:hover {
                #rotatingText {
                    animation-play-state: paused;
                }
            }

        }

    }

    .copyright {
        .copyright-list{
            gap: var(--paragraphs);
    
            @include devices(phone) {
                flex-direction: column;
            }
    
            .social-media {
                gap: var(--siblings);
    
                img {
                    width: 16px;
                    height: auto;
                }
            }
        }

        .toTop{
            gap: var(--buttons-links);
            cursor: pointer;
        }
    }
}