.nav {
    position: relative;
    top: 0;
    max-width: calc(100vw - 0px);
    padding: var(--elements-inline-padding) var(--page-padding) 0;
    // z-index: 10000;
    margin: 0 auto;
    transition: all 0.2s ease-in;
    width: 100%;

    & .type {
        p {
            gap: 0;

            span {
                @include p2;
                opacity: 0.8;
                display: block;
            }
        }
    }

    svg,
    svg g,
    svg path {
        fill: var(--active-secondary, #e5efee);
    }

    & .logo {
        flex-wrap: wrap;
    }

    & .menu {
        gap: var(--buttons-links, 8px);
        flex-wrap: wrap;
        cursor: pointer;
        z-index: 1;

        @include devices(phone) {
            align-items: center;
        }

        &-bars {
            width: 20px;
            height: 18px;
            gap: 6px;

            @include devices(phone) {
                gap: 4px;
            }

            & span {
                width: 100%;
                height: 2px;
                border-radius: 12px;
                background: var(--active-secondary, #002822);
                transition:
                    width 0.3s linear,
                    height 0.3s linear,
                    top 0.3s linear,
                    bottom 0.3s linear,
                    left 0.3s linear,
                    right 0.3s linear,
                    transform 0.4s linear,
                    background 0.6s linear;

                &.top {
                    top: 0;
                    left: 0;
                }

                &.last {
                    bottom: 0;
                    right: 0;
                }

                @include devices(phone) {
                    height: 1.5px;
                }
            }
        }

        .texter::before {
            content: "Menu";
            transition: 0.5s linear;
        }
    }

    &.secondary {
        background-color: var(--active-secondary-blur, #0028223d);
        color: var(--active-accent, #e5efee);

        & .menu-bars-span {
            background: var(--active-accent, #e5efee);
        }

        svg,
        svg g,
        svg path {
            fill: var(--active-accent, #e5efee);
        }
    }
}

.click-outside {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1500;
}

.menu-links-holder {
    position: absolute;
    width: 0px;
    height: 100vh;
    background-color: var(--active-secondary, #002822);
    right: -120vw;
    left: unset;
    padding: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    top: 0;
    z-index: 100;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 2000;
    display: none;

    @include devices(tablet) {
        flex-direction: column-reverse;
    }

    @include devices(phone) {
        right: 0;
        overflow: hidden;
    }

    .menuLinks-list {
        gap: var(--has-button-gap);
        align-self: flex-end;

        @include devices(tablet) {
            align-self: flex-start;
        }

        @include devices(phone) {
            align-self: flex-start;
        }

        & .menuLink {
            a {
                @include h2;
                color: var(--active-accent, #e5efee);
                align-items: flex-center;
                gap: var(--has-button-gap);
                transition: 0.5s ease;

                svg,
                svg g,
                svg path {
                    width: 24px;
                    height: auto;
                    fill: var(--active-accent, #e5efee);
                }

                &:hover,
                &:hover svg,
                &:hover svg g,
                &:hover svg path {
                    color: var(--active-placeholder, #bdbdbd);
                    fill: var(--active-placeholder, #bdbdbd);

                    &::before {
                        content: "\2192";
                        position: absolute;
                        bottom: 10%;
                        left: -30%;
                        color: var(--active-placeholder, #bdbdbd);

                        @include devices(tablet) {
                            display: none;
                        }
                
                    }
                }
            }

            &.active {
                display: none;
            }
        }
    }

    &.menu-links-out {
        display: inline-flex;
        width: 100vw;
        padding: var(--element-block-padding) var(--page-padding);
        padding-left: var(--main-gap);
        padding-right: 32vw;
        right: -24vw;
        box-shadow: -38px 29px 100px 20px #00282296;
        visibility: visible;
        -webkit-transition: -webkit-transform 0.5s;
        transition: transform 0.5s;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);

        @include devices(tablet) {
            right: -12vw;
            padding-left: 12vw;
            padding-right: 18vw;
            padding-top: 24px;
            padding-bottom: var(--header-gap);
        }
        
        @include devices(phone) {
            right: 0;
            padding-right: 12vw;
            padding-bottom: var(--body-top-padding);
        }
    }

    .menu-close {
        cursor: pointer;
        gap: var(--buttons-links);
        padding-top: var(--has-button-gap);

        @include devices(tablet) {
            align-self: flex-end;
            padding-top: var(--box-padding);
        }

        @include devices(phone) {
            align-items: center;
            align-self: flex-end;
            padding-top: 24px;
        }

        & .menu-bars {
            width: 20px;
            height: 18px;
            gap: 6px;

            &-span {
                display: block;
                height: 2px;
                background: var(--active-accent, #e5efee);

                &.top {
                    top: 9px;
                    transform: rotate(45deg);
                    left: 1px;
                }

                &.last {
                    top: 7px;
                    transform: rotate(-45deg);
                    right: -1px;
                }
            }
        }
        & .texter::before {
            content: "Close";
            color: var(--active-accent, #e5efee);
        }
    }
}

.body {
    position: relative;
    left: 0;
    z-index: 99;
    height: auto;
    perspective: 1000px;
    -webkit-transition:
        -webkit-transform 0.5s,
        left 0.5s;
    transition:
        transform 0.5s,
        left 0.5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;

    &.main-shift {
        overflow: hidden;
        -webkit-transform: translate3d(0, 0, -456px);
        transform: translate3d(0, 0, -456px);
        left: -92vw;
        box-shadow: -8px 20px 100px 8px #00282242;
        height: 100%;

        .menu {
            cursor: default;
        }
    }
}
