.tab {
    padding: $buttons-links $elements-inline-padding;
    gap: $buttons-links;
    border-radius: 64px;
    border: 2px solid $active-secondary;
    transition: 0.3s;
    cursor: pointer;
    text-align: center;

    &:hover {
        border-color: $disabled-primary;
        background: $disabled-primary;
    }

    &:focus,
    &.active {
        border-color: $active-secondary;
        background: $active-secondary;
        color: $active-accent;
        cursor: default;
    }

    p{
        text-wrap: nowrap;
    }

}
