.tab {
    padding: var(--buttons-links) var(--elements-inline-padding);
    gap: var(--buttons-links);
    border-radius: 64px;
    border: 2px solid var(--active-secondary, #002822);
    transition: 0.3s;
    cursor: pointer;
    text-align: center;

    &:hover {
        border-color: var(--disabled-primary, #cbe0de);
        background: var(--disabled-primary, #cbe0de);
    }

    &:focus,
    &.active {
        border-color: var(--new-portfolio-active-secondary, #002822);
        background: var(--new-portfolio-active-secondary, #002822);
        color: var(--active-accent, #fefefe);
        cursor: default;
    }

    p{
        text-wrap: nowrap;
    }

}
