@tailwind base;
@tailwind components;
@tailwind utilities;
.landing {
  padding: var(--padding-none) var(--page-padding) var(--caption-columns);
  background-color: var(--active-neutral, #e5efee); }
  .landing .head {
    padding: var(--body-top-padding) 0 0;
    width: 100%; }
    .landing .head-text {
      gap: var(--box-elements-gap); }
      .landing .head-text-top {
        gap: 16px;
        width: 100%; }
        @media only screen and (max-width: 502px) {
          .landing .head-text-top {
            gap: var(--buttons-links); } }

.main {
  background: var(--active-secondary, #002822); }
  .main article {
    padding: 0 var(--page-padding) var(--main-gap);
    gap: var(--header-gap);
    background: var(--active-neutral, #e5efee);
    padding-top: var(--page-padding); }
    @media only screen and (max-width: 502px) {
      .main article {
        padding-bottom: var(--body-top-padding); } }
    .main article.idea {
      padding-top: var(--elements-block-padding); }
    .main article h2 {
      gap: var(--paragraphs); }
    .main article .works {
      gap: var(--parents-elements-gap);
      flex-wrap: wrap;
      flex-direction: row; }
      .main article .works .projekt-container {
        gap: var(--has-button-gap);
        width: 100%; }
        .main article .works .projekt-container-image {
          background: var(--active-accent, #fefefe);
          width: 60%;
          height: 496px;
          border-radius: 32px; }
          @media only screen and (max-width: 1120px) {
            .main article .works .projekt-container-image {
              height: 448px;
              border-radius: 24px; } }
          @media only screen and (max-width: 502px) {
            .main article .works .projekt-container-image {
              height: 320px; } }
        .main article .works .projekt-container-details {
          gap: var(--has-button-gap);
          flex: 1 0 0;
          align-self: stretch;
          color: var(--active-secondary, #002822); }
          .main article .works .projekt-container-details .clave {
            gap: var(--paragraphs);
            width: 100%;
            padding: var(--padding-none) var(--buttons-links); }
  .main .process-container {
    border-radius: 0 0 128px 128px;
    padding-top: var(--element-block-padding); }
    @media only screen and (max-width: 1120px) {
      .main .process-container {
        border-radius: 0 0 72px 72px; } }
    @media only screen and (max-width: 502px) {
      .main .process-container {
        border-radius: 0 0 48px 48px; } }

:root {
  --gap-none: 0px;
  --caption-columns: 4px;
  --buttons-links: 8px;
  --paragraphs: 24px;
  --box-elements-gap: 32px;
  --has-button-gap: 48px;
  --parents-elements-gap: 104px;
  --header-gap: 128px;
  --main-gap: 200px;
  --padding-none: 0px;
  --box-padding: 32px;
  --elements-inline-padding: 48px;
  --element-block-padding: 64px;
  --page-padding: 96px;
  --body-top-padding: 160px; }

@media only screen and (max-width: 1120px) {
  :root {
    --gap-none: 0px;
    --caption-columns: 4px;
    --buttons-links: 8px;
    --paragraphs: 20px;
    --box-elements-gap: 32px;
    --has-button-gap: 48px;
    --parents-elements-gap: 96px;
    --header-gap: 104px;
    --main-gap: 128px;
    --padding-none: 0px;
    --box-padding: 32px;
    --elements-inline-padding: 32px;
    --element-block-padding: 48px;
    --page-padding: 64px;
    --body-top-padding: 144px; } }

@media only screen and (max-width: 502px) {
  :root {
    --gap-none: 0px;
    --caption-columns: 4px;
    --buttons-links: 8px;
    --paragraphs: 16px;
    --box-elements-gap: 24px;
    --has-button-gap: 32px;
    --parents-elements-gap: 64px;
    --header-gap: 80px;
    --main-gap: 104px;
    --padding-none: 0px;
    --box-padding: 24px;
    --elements-inline-padding: 32px;
    --element-block-padding: 48px;
    --page-padding: 24px;
    --body-top-padding: 96px; } }

.scrolling-container {
  padding: var(--paragraphs, 24px) 0;
  background: var(--active-secondary, #002822); }
  .scrolling-container .scrolling_text {
    overflow: hidden;
    white-space: nowrap; }
    .scrolling-container .scrolling_text .text {
      animation: animate_text 30s linear infinite; }
      .scrolling-container .scrolling_text .text span {
        margin: 0 40px;
        color: var(--active-accent, #fefefe); }

@keyframes animate_text {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(-100%, 0, 0); } }

:root {
  /* Day */
  /* colors */
  --active-neutral: #e5efee;
  --active-placeholder: #bdbdbd;
  --active-accent: #fefefe;
  --active-primary: #006a5d;
  --active-secondary: #002822;
  --active-secondary-dark: #0D1D1A;
  --active-accent-blur: #e5efee3d;
  --active-secondary-blur: #0028223d;
  --disabled-primary: #cbe0de;
  --disabled-secondary: #8da7a4;
  --disabled-secondary-dark: #092f2a; }

@font-face {
  font-family: "Fancyou";
  src: local("Fancyou"), local("FancyouRegular"), url("/src/assets/fonts/FancyouRegular.woff2") format("woff2"), url("/src/assets/fonts/FancyouRegular.woff") format("woff"), url("/src/assets/fonts/FancyouRegular.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Vegur";
  src: url("/src/assets/fonts/Vegur-Regular.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Vegur-Regular.woff2") format("woff2"), url("/src/assets/fonts/Vegur-Regular.woff") format("woff"), url("/src/assets/fonts/Vegur-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap; }

:root {
  --font-size: 20px;
  --font-family: "Vegur"; }

/*
    H E A D I N G S
*/
/*
    C O P Y
*/
.home .head-text {
  padding-bottom: 200px; }
  @media only screen and (max-width: 1120px) {
    .home .head-text {
      padding-bottom: 160px; } }
  @media only screen and (max-width: 502px) {
    .home .head-text {
      padding-bottom: 128px; } }
  .home .head-text h1 {
    line-height: 0.9; }
    @media only screen and (max-width: 502px) {
      .home .head-text h1 {
        text-align: left;
        line-height: 1; } }
    .home .head-text h1 .lighter {
      position: absolute;
      border-radius: 48px;
      border: 2px solid var(--active-secondary, #002822);
      transform: rotate(-16deg);
      padding: 2px var(--box-elements-gap) 6px;
      left: 47%;
      top: -56%; }
      @media only screen and (max-width: 1120px) {
        .home .head-text h1 .lighter {
          top: -80%; } }
      @media only screen and (max-width: 700px) {
        .home .head-text h1 .lighter {
          left: 50%;
          top: 0%; } }
      @media only screen and (max-width: 502px) {
        .home .head-text h1 .lighter {
          top: 14%;
          left: 208px;
          padding: 2px var(--paragraphs) 6px;
          transform: rotate(0deg) scale(1);
          background: var(--active-secondary, #002822);
          color: var(--active-accent, #e5efee); } }
    .home .head-text h1.hightlight {
      border-radius: 160px;
      background: var(--active-secondary, #002822);
      padding: 16px var(--page-padding) 24px;
      color: var(--active-accent, #e5efee);
      overflow: hidden;
      white-space: nowrap; }
      @media only screen and (max-width: 850px) {
        .home .head-text h1.hightlight {
          padding-left: var(--paragraphs);
          padding-right: var(--paragraphs); } }
      @media only screen and (max-width: 700px) {
        .home .head-text h1.hightlight {
          top: -6px;
          width: 100%;
          background: none;
          color: inherit;
          padding: 0;
          white-space: unset;
          border-radius: unset;
          overflow: unset; } }
      @media only screen and (max-width: 502px) {
        .home .head-text h1.hightlight {
          text-align: left; } }
  .home .head-text-club {
    padding: 0 var(--body-top-padding);
    gap: var(--paragraphs); }
    @media only screen and (max-width: 1120px) {
      .home .head-text-club {
        padding: 0;
        justify-content: center;
        align-items: center; } }
    @media only screen and (max-width: 502px) {
      .home .head-text-club {
        justify-content: flex-start; } }
    .home .head-text-club .more {
      position: absolute;
      top: 50%;
      right: 49%;
      fill: var(--active-primary, #006a5d);
      height: 208px;
      width: 144px; }
      @media only screen and (max-width: 1120px) {
        .home .head-text-club .more {
          display: none; } }
      .home .head-text-club .more.phone {
        display: none;
        right: unset;
        top: unset;
        width: auto;
        height: 24px;
        position: absolute;
        bottom: -100%;
        justify-self: center; }
        @media only screen and (max-width: 1120px) {
          .home .head-text-club .more.phone {
            display: block;
            left: 50%;
            bottom: -120%; } }
        @media only screen and (max-width: 502px) {
          .home .head-text-club .more.phone {
            left: 20%; } }
    .home .head-text-club-image {
      height: 90px;
      width: 90px;
      border-radius: 1000px;
      border: 3px solid var(--active-primary, #006a5d);
      overflow: hidden; }
      @media only screen and (max-width: 1120px) {
        .home .head-text-club-image {
          width: 48px;
          height: 48px;
          border-width: 2px; } }
      @media only screen and (max-width: 502px) {
        .home .head-text-club-image {
          width: 56px;
          height: 56px;
          border-width: 2px; } }
      .home .head-text-club-image img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%; }
    .home .head-text-club-grab {
      max-width: 34%; }
      @media only screen and (max-width: 1120px) {
        .home .head-text-club-grab {
          max-width: 38%; } }
      @media only screen and (max-width: 850px) {
        .home .head-text-club-grab {
          max-width: 60%; } }
      @media only screen and (max-width: 502px) {
        .home .head-text-club-grab {
          max-width: 68%; } }

@media only screen and (max-width: 502px) {
  .home .main h2 br {
    display: none; } }

@media only screen and (max-width: 502px) {
  .home .main .process-container .lister .listing {
    flex-direction: row; } }

.home .main .testimonials-container {
  padding: var(--main-gap) var(--page-padding);
  background: var(--active-secondary, #002822);
  color: var(--active-accent, #e5efee); }
  @media only screen and (max-width: 1120px) {
    .home .main .testimonials-container {
      overflow: hidden; } }
  @media only screen and (max-width: 502px) {
    .home .main .testimonials-container .title {
      display: flex;
      flex-direction: column;
      gap: var(--buttons-links); } }
  .home .main .testimonials-container .title .liner {
    flex: 1;
    width: 24px; }
    @media only screen and (max-width: 850px) {
      .home .main .testimonials-container .title .liner {
        flex: unset;
        top: -24px; } }
    @media only screen and (max-width: 502px) {
      .home .main .testimonials-container .title .liner {
        display: none; } }
  .home .main .testimonials-container .data {
    gap: var(--header-gap); }
    .home .main .testimonials-container .data-results {
      gap: var(--has-button-gap);
      width: 100%; }
      @media only screen and (max-width: 850px) {
        .home .main .testimonials-container .data-results {
          flex-direction: column; } }
      .home .main .testimonials-container .data-results-left {
        width: 50%; }
        @media only screen and (max-width: 1120px) {
          .home .main .testimonials-container .data-results-left {
            width: 88%; } }
        @media only screen and (max-width: 850px) {
          .home .main .testimonials-container .data-results-left {
            width: 100%;
            justify-content: space-between; } }
        @media only screen and (max-width: 502px) {
          .home .main .testimonials-container .data-results-left {
            gap: 24px; } }
        .home .main .testimonials-container .data-results-left-plug {
          gap: var(--paragraphs);
          width: 44%; }
          .home .main .testimonials-container .data-results-left-plug-title {
            gap: var(--paragraphs); }
            @media only screen and (max-width: 502px) {
              .home .main .testimonials-container .data-results-left-plug-title {
                gap: var(--buttons-links); } }
            .home .main .testimonials-container .data-results-left-plug-title svg {
              width: 24px;
              height: auto; }
          .home .main .testimonials-container .data-results-left-plug-description {
            padding-left: var(--has-button-gap); }
            @media only screen and (max-width: 502px) {
              .home .main .testimonials-container .data-results-left-plug-description {
                padding-left: var(--buttons-links); } }
      .home .main .testimonials-container .data-results-right {
        width: 50%; }
        @media only screen and (max-width: 850px) {
          .home .main .testimonials-container .data-results-right {
            width: 100%; } }
        @media only screen and (max-width: 502px) {
          .home .main .testimonials-container .data-results-right {
            width: 100%; } }
        .home .main .testimonials-container .data-results-right .questionsContainer {
          gap: var(--paragraphs); }
          .home .main .testimonials-container .data-results-right .questionsContainer .questions {
            background-color: var(--active-accent, #e5efee);
            color: var(--active-secondary, #002822);
            border: 1px solid var(--active-secondary, #002822);
            box-shadow: 24px 16px 40px 0px rgba(0, 106, 93, 0.32);
            width: 256px;
            padding: var(--box-elements-gap);
            text-align: center; }
            .home .main .testimonials-container .data-results-right .questionsContainer .questions:first-child {
              transform: rotate(-7deg);
              left: 144px;
              top: 56px; }
            .home .main .testimonials-container .data-results-right .questionsContainer .questions:nth-child(2) {
              transform: rotate(20deg);
              z-index: 1; }
          .home .main .testimonials-container .data-results-right .questionsContainer img {
            pointer-events: none;
            width: 32px;
            height: auto;
            position: absolute; }
            .home .main .testimonials-container .data-results-right .questionsContainer img.rocket {
              left: 20%;
              top: 65%;
              transform: rotate(-45deg); }
            .home .main .testimonials-container .data-results-right .questionsContainer img.smile {
              right: 16%;
              top: 50%; }
            .home .main .testimonials-container .data-results-right .questionsContainer img.smileHeart {
              transform: rotate(7deg);
              top: -28%; }
            .home .main .testimonials-container .data-results-right .questionsContainer img.smileTear {
              right: 7%;
              bottom: 17%; }
  .home .main .testimonials-container .client-responses {
    gap: var(--parents-elements-gap); }
    .home .main .testimonials-container .client-responses .title {
      width: 40%; }
      @media only screen and (max-width: 1120px) {
        .home .main .testimonials-container .client-responses .title {
          width: 80%; } }
      @media only screen and (max-width: 502px) {
        .home .main .testimonials-container .client-responses .title {
          width: 100%; } }
    .home .main .testimonials-container .client-responses .talk {
      gap: var(--box-elements-gap); }
      @media only screen and (max-width: 1120px) {
        .home .main .testimonials-container .client-responses .talk {
          flex-direction: column; } }
      .home .main .testimonials-container .client-responses .talk .review {
        padding: var(--element-block-padding) var(--elements-inline-padding);
        gap: var(--element-block-padding);
        border-radius: 32px;
        border: 1px solid var(--active-accent, #e5efee); }
        .home .main .testimonials-container .client-responses .talk .review-details {
          gap: var(--paragraphs); }
          .home .main .testimonials-container .client-responses .talk .review-details-image {
            width: 56px;
            height: 56px;
            border-radius: 100px;
            overflow: hidden; }
            @media only screen and (max-width: 1120px) {
              .home .main .testimonials-container .client-responses .talk .review-details-image {
                width: 48px;
                height: 48px; } }

.home .main .sales-container {
  padding-top: var(--main-gap);
  border-radius: 0 128px; }
  @media only screen and (max-width: 1120px) {
    .home .main .sales-container {
      border-radius: 0 72px; } }
  @media only screen and (max-width: 502px) {
    .home .main .sales-container {
      border-radius: 0 48px; } }
  .home .main .sales-container-call {
    gap: var(--parents-elements-gap); }
    @media only screen and (max-width: 502px) {
      .home .main .sales-container-call {
        flex-direction: column;
        gap: var(--has-button-gap); } }
    .home .main .sales-container-call-objects {
      width: 28%;
      gap: var(--paragraphs); }
      @media only screen and (max-width: 1120px) {
        .home .main .sales-container-call-objects {
          width: 50%; } }
      @media only screen and (max-width: 502px) {
        .home .main .sales-container-call-objects {
          width: 100%;
          gap: var(--buttons-links); } }
      .home .main .sales-container-call-objects h4 {
        opacity: 0.24; }

.home .projekt:nth-child(1) .projekt-container {
  flex-direction: column;
  gap: var(--has-button-gap); }
  .home .projekt:nth-child(1) .projekt-container-image {
    width: 100%; }
  .home .projekt:nth-child(1) .projekt-container-details {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 0;
    width: 50%; }
    @media only screen and (max-width: 1120px) {
      .home .projekt:nth-child(1) .projekt-container-details {
        width: 100%; } }

.home .projekt:nth-child(2),
.home .projekt:nth-child(3) {
  width: 50%;
  flex: 0.5; }
  @media only screen and (max-width: 1120px) {
    .home .projekt:nth-child(2),
    .home .projekt:nth-child(3) {
      width: 100%;
      flex: unset; } }
  .home .projekt:nth-child(2) .projekt-container,
  .home .projekt:nth-child(3) .projekt-container {
    flex-direction: column;
    gap: var(--has-button-gap); }
    .home .projekt:nth-child(2) .projekt-container-image,
    .home .projekt:nth-child(3) .projekt-container-image {
      width: 100%; }
    .home .projekt:nth-child(2) .projekt-container-details,
    .home .projekt:nth-child(3) .projekt-container-details {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
      padding-bottom: 0; }

.about .landing .head {
  padding-left: var(--padding-none);
  padding-bottom: var(--header-gap); }
  @media only screen and (max-width: 1120px) {
    .about .landing .head {
      padding-bottom: var(--element-block-padding); } }

.about .main .bio-container {
  gap: var(--parents-elements-gap);
  padding-top: var(--padding-none); }
  @media only screen and (max-width: 1120px) {
    .about .main .bio-container {
      flex-direction: column; } }
  .about .main .bio-container .dol {
    width: 40%;
    height: auto;
    align-self: stretch; }
    @media only screen and (max-width: 1120px) {
      .about .main .bio-container .dol {
        width: 100%;
        height: 528px; } }
    @media only screen and (max-width: 502px) {
      .about .main .bio-container .dol {
        height: 420pxa; } }
    .about .main .bio-container .dol img {
      width: 100%;
      object-fit: cover;
      height: 528px; }
      @media only screen and (max-width: 502px) {
        .about .main .bio-container .dol img {
          height: 420px; } }
  .about .main .bio-container .content {
    width: 50%;
    gap: var(--has-button-gap); }
    @media only screen and (max-width: 1120px) {
      .about .main .bio-container .content {
        width: 100%; } }

.about .main .scrolling-container {
  padding: var(--paragraphs) 0;
  background: var(--active-secondary, #002822); }

.about .main .journey-container {
  padding-top: var(--main-gap);
  border-radius: 0 0 128px 128px; }
  @media only screen and (max-width: 1120px) {
    .about .main .journey-container {
      flex-direction: column;
      border-radius: 0 0 72px 72px; } }
  @media only screen and (max-width: 502px) {
    .about .main .journey-container {
      border-radius: 0 0 48px 48px; } }
  .about .main .journey-container .title {
    position: sticky;
    align-self: flex-start;
    top: 200px; }
    @media only screen and (max-width: 1120px) {
      .about .main .journey-container .title {
        top: 0;
        position: relative; } }
  .about .main .journey-container .lister {
    padding-left: var(--padding-none);
    padding-right: var(--padding-none);
    padding-top: var(--page-padding); }
    @media only screen and (max-width: 1120px) {
      .about .main .journey-container .lister .listing {
        flex-direction: row;
        align-items: flex-start; } }
    .about .main .journey-container .lister .clover {
      text-align: right;
      gap: var(--paragraphs); }

.contact .landing {
  padding: var(--padding-none) var(--page-padding); }
  .contact .landing .head {
    padding-bottom: var(--header-gap); }

.contact .main article {
  padding-top: var(--padding-none); }
  .contact .main article .lister .listing p {
    margin-bottom: var(--buttons-links); }
    @media only screen and (max-width: 1120px) {
      .contact .main article .lister .listing p {
        margin-bottom: 0; } }
  .contact .main article .lister .listing a {
    align-items: center;
    gap: var(--paragraphs);
    transition: 0.5s ease;
    color: var(--active-secondary, #002822); }
    .contact .main article .lister .listing a svg {
      width: 16px;
      height: auto;
      color: var(--active-secondary, #002822); }
    .contact .main article .lister .listing a:hover,
    .contact .main article .lister .listing a:hover svg {
      color: var(--active-primary, #006a5d);
      fill: var(--active-primary, #006a5d); }

@media only screen and (max-width: 502px) {
  .contact footer .copyright {
    padding-top: var(--elements-inline-padding); } }

.portfolio .head {
  padding-bottom: var(--page-padding); }
  .portfolio .head-text {
    gap: var(--has-button-gap); }
    @media only screen and (max-width: 1120px) {
      .portfolio .head-text {
        justify-content: flex-start;
        align-items: flex-start; } }
    .portfolio .head-text .tagger {
      gap: var(--paragraphs); }
      @media only screen and (max-width: 1120px) {
        .portfolio .head-text .tagger {
          gap: var(--buttons-links);
          overflow-x: scroll;
          padding-bottom: var(--paragraphs); } }
      @media only screen and (max-width: 502px) {
        .portfolio .head-text .tagger {
          justify-content: flex-start; } }

.portfolio .main article {
  border-radius: 0 0 128px 128px;
  padding-top: var(--padding-none); }
  @media only screen and (max-width: 502px) {
    .portfolio .main article {
      border-radius: 0 0 48px 48px; } }
  .portfolio .main article .works .projekt-pair {
    gap: var(--parents-elements-gap); }
    @media only screen and (max-width: 1120px) {
      .portfolio .main article .works .projekt-pair {
        flex-direction: column; } }
    .portfolio .main article .works .projekt-pair .projekt-container {
      gap: var(--has-button-gap) !important; }
      .portfolio .main article .works .projekt-pair .projekt-container-image {
        width: 100% !important; }
        @media only screen and (max-width: 502px) {
          .portfolio .main article .works .projekt-pair .projekt-container-image {
            height: 320px; } }
      .portfolio .main article .works .projekt-pair .projekt-container-details {
        width: 100% !important; }
        .portfolio .main article .works .projekt-pair .projekt-container-details .clave {
          width: 100%; }
    .portfolio .main article .works .projekt-pair:nth-child(1) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(1) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(1) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(1) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(3) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(5) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(7) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(9) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(11) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(13) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(15) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(17) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(1) {
      width: 40% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(2) {
      width: calc(100% - 40%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(19) .projekt:nth-child(2) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(21) .projekt:nth-child(1) {
      width: 60% !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(21) .projekt:nth-child(1) {
          width: 100% !important; } }
    .portfolio .main article .works .projekt-pair:nth-child(21) .projekt:nth-child(2) {
      width: calc(100% - 60%) !important; }
      @media only screen and (max-width: 1120px) {
        .portfolio .main article .works .projekt-pair:nth-child(21) .projekt:nth-child(2) {
          width: 100% !important; } }

.pricing .landing {
  padding: var(--padding-none, 0) var(--page-padding, 96px); }
  .pricing .landing .head {
    padding-bottom: var(--header-gap, 128px); }

.pricing .main article {
  padding-top: var(--padding-none, 0px); }
  @media only screen and (max-width: 502px) {
    .pricing .main article .lister .listing .clover {
      text-align: right; } }

.nav {
  position: relative;
  top: 0;
  max-width: calc(100vw - 0px);
  padding: var(--elements-inline-padding) var(--page-padding) 0;
  margin: 0 auto;
  transition: all 0.2s ease-in;
  width: 100%; }
  .nav .type p {
    gap: 0; }
    .nav .type p span {
      font-family: "Vegur";
      font-weight: 400;
      line-height: 1.5;
      white-space: pre-line;
      font-size: 16px;
      opacity: 0.8;
      display: block; }
      @media only screen and (max-width: 1440px) {
        .nav .type p span {
          font-size: 16px; } }
      @media only screen and (max-width: 1366px) {
        .nav .type p span {
          font-size: 16px; } }
      @media only screen and (max-width: 1120px) {
        .nav .type p span {
          font-size: 13.33333px; } }
      @media only screen and (max-width: 502px) {
        .nav .type p span {
          font-size: 11.11111px; } }
  .nav svg,
  .nav svg g,
  .nav svg path {
    fill: var(--active-secondary, #e5efee); }
  .nav .logo {
    flex-wrap: wrap; }
  .nav .menu {
    gap: var(--buttons-links, 8px);
    flex-wrap: wrap;
    cursor: pointer;
    z-index: 1; }
    @media only screen and (max-width: 502px) {
      .nav .menu {
        align-items: center; } }
    .nav .menu-bars {
      width: 20px;
      height: 18px;
      gap: 6px; }
      @media only screen and (max-width: 502px) {
        .nav .menu-bars {
          gap: 4px; } }
      .nav .menu-bars span {
        width: 100%;
        height: 2px;
        border-radius: 12px;
        background: var(--active-secondary, #002822);
        transition: width 0.3s linear, height 0.3s linear, top 0.3s linear, bottom 0.3s linear, left 0.3s linear, right 0.3s linear, transform 0.4s linear, background 0.6s linear; }
        .nav .menu-bars span.top {
          top: 0;
          left: 0; }
        .nav .menu-bars span.last {
          bottom: 0;
          right: 0; }
        @media only screen and (max-width: 502px) {
          .nav .menu-bars span {
            height: 1.5px; } }
    .nav .menu .texter::before {
      content: "Menu";
      transition: 0.5s linear; }
  .nav.secondary {
    background-color: var(--active-secondary-blur, #0028223d);
    color: var(--active-accent, #e5efee); }
    .nav.secondary .menu-bars-span {
      background: var(--active-accent, #e5efee); }
    .nav.secondary svg,
    .nav.secondary svg g,
    .nav.secondary svg path {
      fill: var(--active-accent, #e5efee); }

.click-outside {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1500; }

.menu-links-holder {
  position: absolute;
  width: 0px;
  height: 100vh;
  background-color: var(--active-secondary, #002822);
  right: -120vw;
  left: unset;
  padding: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  top: 0;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 2000; }
  @media only screen and (max-width: 1120px) {
    .menu-links-holder {
      flex-direction: column-reverse; } }
  @media only screen and (max-width: 502px) {
    .menu-links-holder {
      right: 0;
      overflow: hidden; } }
  .menu-links-holder .menuLinks-list {
    gap: var(--has-button-gap);
    align-self: flex-end; }
    @media only screen and (max-width: 1120px) {
      .menu-links-holder .menuLinks-list {
        align-self: flex-start; } }
    @media only screen and (max-width: 502px) {
      .menu-links-holder .menuLinks-list {
        align-self: flex-start; } }
    .menu-links-holder .menuLinks-list .menuLink a {
      font-family: "Fancyou";
      line-height: 1;
      font-weight: normal;
      font-size: 72px;
      color: var(--active-accent, #e5efee);
      align-items: flex-center;
      gap: var(--has-button-gap);
      transition: 0.5s ease; }
      @media only screen and (max-width: 1440px) {
        .menu-links-holder .menuLinks-list .menuLink a {
          font-size: 72px; } }
      @media only screen and (max-width: 1366px) {
        .menu-links-holder .menuLinks-list .menuLink a {
          font-size: 60px; } }
      @media only screen and (max-width: 1120px) {
        .menu-links-holder .menuLinks-list .menuLink a {
          font-size: 50px; } }
      @media only screen and (max-width: 502px) {
        .menu-links-holder .menuLinks-list .menuLink a {
          font-size: 41.66667px; } }
      .menu-links-holder .menuLinks-list .menuLink a svg,
      .menu-links-holder .menuLinks-list .menuLink a svg g,
      .menu-links-holder .menuLinks-list .menuLink a svg path {
        width: 24px;
        height: auto;
        fill: var(--active-accent, #e5efee); }
      .menu-links-holder .menuLinks-list .menuLink a:hover,
      .menu-links-holder .menuLinks-list .menuLink a:hover svg,
      .menu-links-holder .menuLinks-list .menuLink a:hover svg g,
      .menu-links-holder .menuLinks-list .menuLink a:hover svg path {
        color: var(--active-placeholder, #bdbdbd);
        fill: var(--active-placeholder, #bdbdbd); }
        .menu-links-holder .menuLinks-list .menuLink a:hover::before,
        .menu-links-holder .menuLinks-list .menuLink a:hover svg::before,
        .menu-links-holder .menuLinks-list .menuLink a:hover svg g::before,
        .menu-links-holder .menuLinks-list .menuLink a:hover svg path::before {
          content: "\2192";
          position: absolute;
          bottom: 10%;
          left: -30%;
          color: var(--active-placeholder, #bdbdbd); }
          @media only screen and (max-width: 1120px) {
            .menu-links-holder .menuLinks-list .menuLink a:hover::before,
            .menu-links-holder .menuLinks-list .menuLink a:hover svg::before,
            .menu-links-holder .menuLinks-list .menuLink a:hover svg g::before,
            .menu-links-holder .menuLinks-list .menuLink a:hover svg path::before {
              display: none; } }
    .menu-links-holder .menuLinks-list .menuLink.active {
      display: none; }
  .menu-links-holder.menu-links-out {
    width: 100vw;
    padding: var(--element-block-padding) var(--page-padding);
    padding-left: var(--main-gap);
    padding-right: 32vw;
    right: -24vw;
    box-shadow: -38px 29px 100px 20px #00282296;
    visibility: visible;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
    @media only screen and (max-width: 1120px) {
      .menu-links-holder.menu-links-out {
        right: -12vw;
        padding-left: 12vw;
        padding-right: 18vw;
        padding-top: 24px;
        padding-bottom: var(--body-top-padding); } }
    @media only screen and (max-width: 502px) {
      .menu-links-holder.menu-links-out {
        right: 0;
        padding-right: 12vw; } }
  .menu-links-holder .menu-close {
    cursor: pointer;
    gap: var(--buttons-links);
    padding-top: var(--has-button-gap); }
    @media only screen and (max-width: 1120px) {
      .menu-links-holder .menu-close {
        align-self: flex-end;
        padding-top: var(--box-padding); } }
    @media only screen and (max-width: 502px) {
      .menu-links-holder .menu-close {
        align-items: center;
        align-self: flex-end;
        padding-top: 24px; } }
    .menu-links-holder .menu-close .menu-bars {
      width: 20px;
      height: 18px;
      gap: 6px; }
      .menu-links-holder .menu-close .menu-bars-span {
        display: block;
        height: 2px;
        background: var(--active-accent, #e5efee); }
        .menu-links-holder .menu-close .menu-bars-span.top {
          top: 9px;
          transform: rotate(45deg);
          left: 1px; }
        .menu-links-holder .menu-close .menu-bars-span.last {
          top: 7px;
          transform: rotate(-45deg);
          right: -1px; }
    .menu-links-holder .menu-close .texter::before {
      content: "Close";
      color: var(--active-accent, #e5efee); }

.body {
  position: relative;
  left: 0;
  z-index: 99;
  height: auto;
  perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s, left 0.5s;
  transition: transform 0.5s, left 0.5s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .body.main-shift {
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, -456px);
    transform: translate3d(0, 0, -456px);
    left: -92vw;
    box-shadow: -8px 20px 100px 8px #00282242;
    height: 100%; }
    .body.main-shift .menu {
      cursor: default; }

a, button {
  font-family: "Vegur";
  font-weight: 400;
  line-height: 1.5;
  white-space: pre-line;
  font-size: 20px;
  color: var(--active-primary, #006a5d);
  gap: var(--buttons-links, 8px); }
  @media only screen and (max-width: 1440px) {
    a, button {
      font-size: 20px; } }
  @media only screen and (max-width: 1366px) {
    a, button {
      font-size: 20px; } }
  @media only screen and (max-width: 1120px) {
    a, button {
      font-size: 16.66667px; } }
  @media only screen and (max-width: 502px) {
    a, button {
      font-size: 13.88889px; } }
  a .icon-hold, button .icon-hold {
    border-radius: 1000px;
    padding: var(--caption-columns, 4px);
    color: var(--active-primary, #006a5d);
    border: 2px solid var(--active-primary, #006a5d);
    overflow: hidden;
    transition: color 0.3s ease-in; }
    a .icon-hold::before, button .icon-hold::before {
      content: "";
      background-color: var(--active-primary, #006a5d);
      width: 120%;
      height: 120%;
      transform: scale(0);
      top: -10%;
      left: -70%;
      position: absolute;
      border-radius: 1000px;
      transition: transform 0.2s ease-in-out, left 0.2s ease-in-out; }
  a:hover .icon-hold, button:hover .icon-hold {
    color: var(--active-accent, #e5efee); }
    a:hover .icon-hold::before, button:hover .icon-hold::before {
      left: 0;
      transform: scale(1); }
  a[type="secondary"], button[type="secondary"] {
    color: var(--active-accent, #e5efee); }
    a[type="secondary"] .icon-hold, button[type="secondary"] .icon-hold {
      color: var(--active-accent, #e5efee);
      border: 2px solid var(--active-accent, #e5efee); }
      a[type="secondary"] .icon-hold::before, button[type="secondary"] .icon-hold::before {
        background-color: var(--active-accent, #e5efee); }
    a[type="secondary"]:hover .icon-hold, button[type="secondary"]:hover .icon-hold {
      color: var(--active-secondary-dark, #0D1D1A); }

.tab {
  padding: var(--buttons-links) var(--elements-inline-padding);
  gap: var(--buttons-links);
  border-radius: 64px;
  border: 2px solid var(--active-secondary, #002822);
  transition: 0.3s;
  cursor: pointer;
  text-align: center; }
  .tab:hover {
    border-color: var(--disabled-primary, #cbe0de);
    background: var(--disabled-primary, #cbe0de); }
  .tab:focus, .tab.active {
    border-color: var(--new-portfolio-active-secondary, #002822);
    background: var(--new-portfolio-active-secondary, #002822);
    color: var(--active-accent, #fefefe);
    cursor: default; }
  .tab p {
    text-wrap: nowrap; }

footer {
  color: var(--active-accent, #e5efee);
  padding: var(--element-block-padding) var(--page-padding);
  background: var(--active-secondary, #002822);
  overflow: hidden;
  gap: var(--page-padding); }
  @media only screen and (max-width: 502px) {
    footer {
      padding: var(--box-padding) var(--page-padding) var(--element-block-padding);
      gap: var(--parents-elements-gap); } }
  footer > * {
    z-index: 2; }
  footer .partner-div {
    padding: var(--header-gap) 0 var(--page-padding);
    gap: var(--has-button-gap); }
    @media only screen and (max-width: 502px) {
      footer .partner-div {
        padding-bottom: var(--parents-elements-gap); } }
    footer .partner-div .title {
      width: 50%;
      gap: var(--paragraphs); }
      @media only screen and (max-width: 1120px) {
        footer .partner-div .title {
          width: 72%; } }
      @media only screen and (max-width: 502px) {
        footer .partner-div .title {
          width: 100%; } }
  footer .slide-text {
    width: 100%;
    padding: var(--element-block-padding) 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    right: -30%;
    bottom: 0;
    transform: rotate(-90deg);
    z-index: 1;
    left: unset; }
    @media only screen and (max-width: 502px) {
      footer .slide-text {
        width: 560px;
        bottom: 150px;
        left: unset;
        right: -44%; } }
    footer .slide-text .text {
      animation: animate_text 20s linear infinite; }
      footer .slide-text .text span {
        margin: 0 40px;
        color: var(--active-secondary-dark, #0d1d1a);
        opacity: 0.6; }
  @media only screen and (max-width: 502px) {
    footer .copyright {
      flex-direction: column;
      gap: var(--has-button-gap);
      align-items: flex-start; } }
  footer .copyright .social-media {
    gap: var(--paragraphs); }
    @media only screen and (max-width: 502px) {
      footer .copyright .social-media {
        gap: var(--has-button-gap); } }
    footer .copyright .social-media svg {
      width: 20px;
      height: auto;
      stroke: var(--active-accent, #e5efee);
      fill: none !important; }

*,
*::before,
*::after {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: none !important; }

::-webkit-scrollbar {
  width: 4px;
  height: 0; }

::-webkit-scrollbar-track {
  background: var(--active-accent); }

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--active-secondary, #002822); }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--active-secondary, #002822); }

/*
    T y p o g r a p h y
*/
.h1 {
  font-family: "Fancyou";
  line-height: 1;
  font-weight: normal;
  font-size: 96px; }
  @media only screen and (max-width: 1440px) {
    .h1 {
      font-size: 80px; } }
  @media only screen and (max-width: 1366px) {
    .h1 {
      font-size: 66.66667px; } }
  @media only screen and (max-width: 1120px) {
    .h1 {
      font-size: 55.55556px; } }
  @media only screen and (max-width: 502px) {
    .h1 {
      font-size: 46.2963px; } }

.h2 {
  font-family: "Fancyou";
  line-height: 1;
  font-weight: normal;
  font-size: 72px; }
  @media only screen and (max-width: 1440px) {
    .h2 {
      font-size: 72px; } }
  @media only screen and (max-width: 1366px) {
    .h2 {
      font-size: 60px; } }
  @media only screen and (max-width: 1120px) {
    .h2 {
      font-size: 50px; } }
  @media only screen and (max-width: 502px) {
    .h2 {
      font-size: 41.66667px; } }

.h3 {
  font-family: "Fancyou";
  line-height: 1;
  font-weight: normal;
  font-size: 48px; }
  @media only screen and (max-width: 1440px) {
    .h3 {
      font-size: 48px; } }
  @media only screen and (max-width: 1366px) {
    .h3 {
      font-size: 40px; } }
  @media only screen and (max-width: 1120px) {
    .h3 {
      font-size: 33.33333px; } }
  @media only screen and (max-width: 502px) {
    .h3 {
      font-size: 27.77778px; } }

.h4 {
  font-family: "Fancyou";
  line-height: 1;
  font-weight: 500;
  font-size: 32px; }
  @media only screen and (max-width: 1440px) {
    .h4 {
      font-size: 32px; } }
  @media only screen and (max-width: 1366px) {
    .h4 {
      font-size: 26.66667px; } }
  @media only screen and (max-width: 1120px) {
    .h4 {
      font-size: 22.22222px; } }
  @media only screen and (max-width: 502px) {
    .h4 {
      font-size: 18.51852px; } }

.s1 {
  font-family: "Fancyou";
  line-height: 0.8;
  font-weight: normal;
  font-size: 480px; }
  @media only screen and (max-width: 1440px) {
    .s1 {
      font-size: 400px; } }
  @media only screen and (max-width: 1366px) {
    .s1 {
      font-size: 333.33333px; } }
  @media only screen and (max-width: 1120px) {
    .s1 {
      font-size: 277.77778px; } }
  @media only screen and (max-width: 502px) {
    .s1 {
      font-size: 231.48148px; } }

.p1 {
  font-family: "Vegur";
  font-weight: 400;
  line-height: 1.5;
  white-space: pre-line;
  font-size: 20px; }
  @media only screen and (max-width: 1440px) {
    .p1 {
      font-size: 20px; } }
  @media only screen and (max-width: 1366px) {
    .p1 {
      font-size: 20px; } }
  @media only screen and (max-width: 1120px) {
    .p1 {
      font-size: 16.66667px; } }
  @media only screen and (max-width: 502px) {
    .p1 {
      font-size: 13.88889px; } }

.p2 {
  font-family: "Vegur";
  font-weight: 400;
  line-height: 1.5;
  white-space: pre-line;
  font-size: 16px; }
  @media only screen and (max-width: 1440px) {
    .p2 {
      font-size: 16px; } }
  @media only screen and (max-width: 1366px) {
    .p2 {
      font-size: 16px; } }
  @media only screen and (max-width: 1120px) {
    .p2 {
      font-size: 13.33333px; } }
  @media only screen and (max-width: 502px) {
    .p2 {
      font-size: 11.11111px; } }

.c1 {
  font-family: "Vegur";
  font-weight: 400;
  line-height: 1.5;
  white-space: pre-line;
  font-size: 14px; }
  @media only screen and (max-width: 1440px) {
    .c1 {
      font-size: 14px; } }
  @media only screen and (max-width: 1366px) {
    .c1 {
      font-size: 14px; } }
  @media only screen and (max-width: 1120px) {
    .c1 {
      font-size: 14px; } }
  @media only screen and (max-width: 502px) {
    .c1 {
      font-size: 11.66667px; } }

.b1 {
  font-family: "Vegur";
  font-weight: 400;
  line-height: 0.75;
  font-size: 24px; }
  @media only screen and (max-width: 1440px) {
    .b1 {
      font-size: 24px; } }
  @media only screen and (max-width: 1366px) {
    .b1 {
      font-size: 24px; } }
  @media only screen and (max-width: 1120px) {
    .b1 {
      font-size: 20px; } }
  @media only screen and (max-width: 502px) {
    .b1 {
      font-size: 16.66667px; } }

body {
  font-size: var(--font-size);
  font-family: var(--font-family);
  scroll-behavior: smooth;
  min-height: 100vh;
  background-color: var(---disabled-primary, #cbe0de);
  color: var(--active-secondary, #002822);
  max-width: 1536px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

img {
  pointer-events: none; }

main {
  padding: var(--header-gap) var(--padding-none) 0;
  background-color: var(--active-neutral, #e5efee);
  gap: var(--gap-none);
  padding-top: 0; }

#root {
  position: relative;
  height: 100vh;
  -webkit-perspective: 1500px;
  perspective: 1500px; }

.liner {
  width: 100%;
  display: inline-block;
  height: 1.6px;
  flex: 1;
  background-color: var(--active-secondary, #002822); }
  .liner.secondary {
    background-color: var(---disabled-secondary, #8da7a4);
    flex: auto; }

.lister {
  padding: 0px var(--page-padding);
  gap: var(--header-gap); }
  @media only screen and (max-width: 1120px) {
    .lister {
      padding: 0; } }
  .lister .listing {
    padding: var(--element-block-padding) 0px;
    border-bottom: 1px solid var(--disabled-secondary, #8da7a4); }
    @media only screen and (max-width: 502px) {
      .lister .listing {
        flex-direction: row;
        gap: var(--paragraphs);
        align-items: center; } }
    @media screen and (max-width: 320px) {
      .lister .listing {
        flex-direction: column; } }
    .lister .listing:first-child {
      padding-top: 0px; }

.overflow-hidden {
  overflow: hidden; }

.cursor {
  width: 16px;
  height: 16px;
  pointer-events: none;
  position: fixed;
  padding: 6px;
  transform: translate(-50%, -50%);
  background-color: var(--active-neutral, #e5efee);
  color: var(--active-primary, #006a5d);
  border-radius: 50%;
  z-index: 100000;
  mix-blend-mode: difference;
  text-align: center; }

.cursor.linked {
  width: 32px;
  height: 32px;
  background-color: #006a5d; }
