.about {
    .landing {
        & .head {
            padding-left: $padding-none;
            padding-bottom: $header-gap;

            @include devices(tablet) {
                padding-bottom: $element-block-padding;
            }
        }
    }

    .main {
        .bio-container {
            gap: $parents-elements-gap;
            padding-top: $padding-none;

            @include devices(tablet) {
                flex-direction: column;
            }

            .dol {
                width: 40%;
                height: auto;
                align-self: stretch;
                height: 528px;

                @include devices(tablet) {
                    width: 100%;
                }

                @include devices(phone) {
                    height: 420px;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 100%;
                }
            }

            .content {
                width: 50%;
                gap: $has-button-gap;

                @include devices(tablet) {
                    width: 100%;
                }
            }
        }

        .scrolling-container {
            padding: $paragraphs 0;
            background: $active-secondary;
        }

        .journey-container {
            padding-top: $main-gap;

            @include devices(tablet) {
                flex-direction: column;
            }

            .title {
                position: sticky;
                align-self: flex-start;
                top: 200px;

                @include devices(tablet) {
                    top: 0;
                    position: relative;
                }
            }

            .lister {
                padding-left: $padding-none;
                padding-right: $padding-none;
                padding-top: $page-padding;

                .listing {
                    @include devices(tablet) {
                        flex-direction: row;
                        align-items: flex-start;
                    }
                }

                .clover {
                    text-align: right;
                    gap: $paragraphs;
                }
            }
        }
    }
}
