.about {
    .landing {
        & .head {
            padding-left: var(--padding-none);
            padding-bottom: var(--header-gap);

            @include devices(tablet) {
                padding-bottom: var(--element-block-padding);
            }
        }
    }

    .main {
        .bio-container {
            gap: var(--parents-elements-gap);
            padding-top: var(--padding-none);

            @include devices(tablet) {
                flex-direction: column;
            }

            .dol {
                width: 40%;
                height: auto;
                align-self: stretch;

                @include devices(tablet) {
                    width: 100%;
                    height: 528px;
                }

                @include devices(phone) {
                    height: 420pxa;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                    height: 528px;

                    @include devices(phone) {
                        height: 420px;
                    }
                }
            }

            .content {
                width: 50%;
                gap: var(--has-button-gap);

                @include devices(tablet) {
                    width: 100%;
                }
            }
        }

        .scrolling-container {
            padding: var(--paragraphs) 0;
            background: var(--active-secondary, #002822);
        }

        .journey-container {
            padding-top: var(--main-gap);
            border-radius: 0 0 128px 128px;

            @include devices(tablet) {
                flex-direction: column;
                border-radius: 0 0 72px 72px;
            }

            @include devices(phone) {
                border-radius: 0 0 48px 48px;
            }

            .title {
                position: sticky;
                align-self: flex-start;
                top: 200px;

                @include devices(tablet) {
                    top: 0;
                    position: relative;
                }
            }

            .lister {
                padding-left: var(--padding-none);
                padding-right: var(--padding-none);
                padding-top: var(--page-padding);

                .listing {
                    @include devices(tablet) {
                        flex-direction: row;
                        align-items: flex-start;
                    }
                }

                .clover {
                    text-align: right;
                    gap: var(--paragraphs);
                }
            }
        }
    }
}
