.portfolio {
    .project {
        &-head {
            .head {
                gap: $parents-elements-gap;
            }
        }

        &-details {
            gap: 0;
            padding-left: $padding-none;
            padding-right: $padding-none;
            padding-bottom: $padding-none;
            border-radius: 0;

            .grouper {
                gap: $parents-elements-gap;
                padding: 0 $page-padding $main-gap;
                background-color: $active-neutral;
            }

            &-cover-image {
                height: 712px;
                background-color: $active-accent;
                overflow: hidden;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            &-description {
                padding: 0 0 $main-gap !important;

                .describe {
                    gap: $paragraphs;
                    padding: $padding-none $page-padding;
                    width: 60%;
                }

                &-checker {
                    gap: $parents-elements-gap;

                    &-roles {
                        width: 40%;
                        gap: $has-button-gap;

                        &-section {
                            gap: $paragraphs;

                            h4 {
                                text-transform: capitalize;
                            }

                            &-team {
                                gap: $buttons-links;
                            }
                        }
                    }
                }
            }

            &-problem {
                .why {
                    gap: $parents-elements-gap;

                    // * {
                    //     width: 56%;
                    // }

                    // h3 {
                    //     align-self: flex-start;
                    // }
                    // p {
                    //     align-self: flex-end;
                    //     width: 46%;
                    // }
                }

                .images {
                    gap: $element-block-padding;
                    justify-content: space-between;

                    &-image {
                        gap: $paragraphs;
                        width: 49%;
                        // padding: $box-padding;
                        // background-color: $active-secondary-blur;
                        border-radius: 8px;
                    }
                }
            }

            &-insights {
                // border-radius: 0 0 128px 128px;

                .complaints {
                    flex-direction: column;
                    gap: $paragraphs;
                }

                .numbers {
                    gap: $has-button-gap;
                    justify-content: space-between;

                    &-details {
                        border: 1px solid;
                        padding: $box-padding;
                        width: 33%;
                        gap: $paragraphs;
                        border-radius: 12px;
                    }
                }

                &.testing {
                    border-radius: 0;
                }
            }

            &-understand {
                justify-content: space-between;
                background-color: $active-secondary !important;
                color: $active-neutral !important;
                padding: $body-top-padding $page-padding !important;
                align-items: center;

                &-section {
                    gap: $paragraphs;
                    width: 45%;

                    &.constraints {
                        width: 45%;
                        padding-bottom: $element-block-padding;

                        ol {
                            padding: 0;

                            li {
                                list-style: none;
                                padding: $box-padding;
                                max-width: 400px;
                                color: $active-secondary;
                                background-color: $active-accent;
                                border: 1px solid $active-secondary;
                                box-shadow: 0px 16px 40px 0px rgba(0, 106, 93, 0.32);
                                text-align: center;

                                &:nth-child(even) {
                                    position: absolute;
                                    transform: rotate(2deg);
                                    right: 0;
                                    left: unset;
                                }

                                &:nth-child(2) {
                                    top: 96px;
                                    transform: rotate(4deg);
                                }

                                &:nth-child(odd) {
                                    transform: rotate(-8deg);
                                    top: 32px;
                                }

                                &:nth-child(3) {
                                    top: 64px;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }

            &-user {
                // border-radius: 128px 128px 0 0;
                padding-top: $body-top-padding !important;

                .persona {
                    gap: $has-button-gap;

                    .user-persona-details {
                        gap: $parents-elements-gap;
                        padding: $element-block-padding;
                        border: 1px solid;
                        width: 50%;
                        border-radius: 24px;

                        &-person {
                            gap: $paragraphs;

                            img {
                                width: 56px;
                                height: 56px;
                                border-radius: 50%;
                                border: 2px solid;
                            }

                            &-dels {
                                gap: $caption-columns;
                            }
                        }

                        &-quote {
                            &::before {
                                content: "\201C";
                                font-family: "Fancyou";
                                line-height: 0.8;
                                font-weight: normal;
                                font-size: 480px;
                                position: absolute;
                                color: $disabled-secondary;
                                opacity: 0.2;
                                top: -120px;
                                transform: scale(0.6);
                                left: -50px;
                            }
                        }
                    }
                }
            }

            &-competition {
                & .competitors {
                    gap: $has-button-gap;

                    &-info {
                        gap: $paragraphs;
                        padding: $element-block-padding;
                        border: 1px solid;
                        width: 50%;
                        border-radius: 24px;

                        .competitorLogo {
                            height: 32px;
                            align-self: flex-start;
                        }
                    }
                }
            }

            &-ideas {
                &-section {
                    width: 100%;
                    gap: $has-button-gap;
                }
            }

            &-flow {
                &-image {
                    gap: $has-button-gap;
                }
            }

            &-sketches {
                &-images {
                    gap: $element-block-padding;
                    &-details {
                        width: 12.5%;
                        gap: $box-elements-gap;
                        text-align: center;
                    }

                    &.desktop {
                        .project-details-sketches-images-details {
                            width: 47%;
                        }
                    }
                }
            }

            &-wireframes {
                gap: $body-top-padding !important;
                &-images {
                    gap: $element-block-padding;
                    &-details {
                        width: 16%;
                        gap: $box-elements-gap;
                        text-align: center;
                    }

                    &.desktop {
                        .project-details-wireframes-images-details {
                            width: 47%;
                        }
                    }
                }

                .wireframes-holder {
                    gap: $element-block-padding;
                    justify-content: space-between;
                }
            }
        }
    }
}
