.case-study {
    .project-head {
        padding: 0 var(--page-padding) !important;
        transition: 1s;

        .head {
            gap: var(--parents-elements-gap);
            padding-bottom: 0;

            &-text {
                @include devices(tablet) {
                    flex-direction: column;
                }

                &-top {
                    gap: var(--paragraphs);

                    &.right {
                        padding-top: var(--paragraphs);
                    }
                }
            }
        }
    }

    .main {
        padding-top: var(--element-block-padding);
        transition: 0.6s;

        .project-details {
            gap: 0;
            padding-left: var(--padding-none);
            padding-right: var(--padding-none);
            padding-bottom: var(--padding-none);
            border-radius: 0;

            .details-section {
                gap: var(--element-block-padding);
                padding: var(--elements-inline-padding) var(--page-padding) var(--padding-none);
                width: 100%;
            }

            .grouper {
                gap: var(--element-block-padding);
                padding: 0 0 var(--body-top-padding);
                background-color: var(--active-neutral);
            }

            &-home {
                padding-top: 0 !important;
            }

            &-cover-image {
                height: 724px;
                background-color: var(--active-accent);
                overflow: hidden;
                border-radius: 20px;

                @include devices(tablet) {
                    height: 480px;
                    border-radius: 16px;
                }

                @include devices(phone) {
                    height: 280px;
                    border-radius: 12px;
                }

                div {
                    width: 100%;
                    height: 100%;

                    img {
                        min-width: 100%;
                        min-height: 100%;
                        object-position: center;
                    }
                }
            }

            &-description {
                &-checker {
                    gap: var(--parents-elements-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                        gap: var(--has-button-gap);
                    }

                    .describe {
                        gap: var(--buttons-links);
                        width: 50%;

                        @include devices(tablet) {
                            width: 100%;
                        }
                    }

                    &-roles {
                        width: 50%;
                        gap: var(--has-button-gap);

                        @include devices(tablet) {
                            width: 100%;
                            flex-direction: row;
                            gap: var(--parents-elements-gap);
                        }

                        @media only screen and (max-width: 380px) {
                            flex-direction: column;
                            gap: var(--has-button-gap);
                        }

                        &-section {
                            gap: var(--buttons-links);

                            h4 {
                                text-transform: capitalize;
                            }

                            &-team {
                                gap: var(--buttons-links);
                            }
                        }
                    }
                }
            }

            &-problem {
                grid-template-areas:
                    "title image-right"
                    "image-left sub-title"
                    "image-left sub-title";
                grid-template-rows: auto auto;
                grid-template-columns: 48% 48%;
                align-items: center;

                p {
                    grid-area: sub-title;
                }

                .images {
                    gap: var(--element-block-padding);
                    justify-content: space-between;

                    &-image {
                        gap: var(--paragraphs);
                        height: 384px;
                        background: var(--disabled-primary);
                        border-radius: 20px;
                        overflow: hidden;
                        grid-row: span 2;

                        img {
                            height: 100%;
                        }

                        &:nth-of-type(1) {
                            grid-area: image-left;
                        }

                        &:nth-of-type(2) {
                            grid-area: image-right;
                        }
                    }
                }
            }

            &-insights {
                .complaints {
                    flex-direction: column;
                    gap: var(--paragraphs);
                    padding: var(--page-padding);
                    background-color: var(--active-secondary);
                    color: var(--active-accent);
                    border-radius: 20px;
                }

                & .numbers {
                    gap: var(--box-elements-gap);
                    justify-content: space-between;

                    &-details {
                        background-color: var(--active-secondary);
                        color: var(--active-accent);
                        padding: var(--box-padding);
                        width: 33%;
                        gap: var(--paragraphs);
                        border-radius: 16px;
                        justify-content: center;
                    }
                }

                &.testing {
                    border-radius: 0;
                    gap: var(--element-block-padding);

                    & .complaints {
                        padding-bottom: 128px;

                        ol li {
                            list-style: none;
                            width: 43%;
                            text-align: center;
                            background-color: var(--active-accent);
                            color: var(--active-secondary);
                            border-radius: 16px;
                            padding: var(--paragraphs) var(--element-block-padding);

                            &:nth-child(1) {
                                margin-top: 72px;
                                left: -8px;
                            }
                            &:nth-child(2) {
                                top: 56px;
                                position: absolute;
                                right: 80px;
                                left: unset;
                            }
                            &:nth-child(3) {
                                top: 76%;
                                position: absolute;
                                right: 0;
                                left: unset;
                            }
                            &:nth-child(4) {
                                margin-top: 48px;
                                left: 96px;
                            }
                        }
                    }

                    & .numbers {
                        flex-direction: column;
                        padding-top: var(--page-padding);
                        gap: var(--element-block-padding);

                        &-details {
                            color: var(--active-secondary);
                            border: 1px solid var(--active-secondary);
                            background-color: unset;
                        }

                        &-flex {
                            gap: var(--box-elements-gap);
                        }
                    }

                    &.final_testing {
                        padding-left: 0 !important;
                        padding-right: 0 !important;

                        & .title {
                            padding: 0 var(--page-padding);
                            gap: var(--box-elements-gap);
                            width: 100%;
                        }

                        & .list {
                            width: 100%;
                            padding: 0 var(--page-padding);
                            overflow-x: scroll;

                            .numbers {
                                &-details {
                                    width: 416px;
                                    text-align: center;
                                }
                            }
                        }

                        & .image-push {
                            padding: var(--elements-inline-padding) var(--page-padding) 0;

                            & > div {
                                overflow: hidden;
                                border-radius: 16px;
                                background-color: var(--disabled-primary);

                                img {
                                    width: 100%;
                                    object-fit: contain;
                                    height: 100%;
                                    max-width: unset;
                                    object-position: -2px 2px;
                                }
                            }
                        }
                    }
                }

                &.review {
                    gap: var(--box-elements-gap);
                }
            }

            &-understand {
                justify-content: space-between;
                align-items: center;

                &-section {
                    gap: var(--paragraphs);
                    width: 45%;

                    &.constraints {
                        width: 45%;
                        padding-bottom: var(--element-block-padding);

                        ol {
                            padding: 0;

                            li {
                                list-style: none;
                                padding: var(--box-padding);
                                max-width: 400px;
                                color: var(--active-secondary);
                                background-color: var(--active-accent);
                                border: 1px solid var(--active-secondary);
                                box-shadow: 0px 16px 40px 0px rgba(0, 106, 93, 0.32);
                                text-align: center;
                                border-radius: 12px;

                                &:nth-child(even) {
                                    position: absolute;
                                    transform: rotate(2deg);
                                    right: 0;
                                    left: unset;
                                }

                                &:nth-child(2) {
                                    top: 96px;
                                    transform: rotate(4deg);
                                }

                                &:nth-child(odd) {
                                    transform: rotate(-8deg);
                                    top: 32px;
                                }

                                &:nth-child(3) {
                                    top: 64px;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }

            &-user {
                .persona {
                    gap: var(--box-elements-gap);

                    .user-persona-details {
                        gap: var(--parents-elements-gap);
                        padding: var(--element-block-padding);
                        border: 1px solid;
                        width: 50%;
                        border-radius: 24px;

                        &-person {
                            gap: var(--paragraphs);

                            .image-holder {
                                width: 56px;
                                height: 56px;
                                border-radius: 50%;
                                border: 1px solid;
                                overflow: hidden;
                            }
                        }

                        &-quote {
                            &::before {
                                content: "\201C";
                                font-family: "Fancyou";
                                line-height: 0.8;
                                font-weight: normal;
                                font-size: 480px;
                                position: absolute;
                                color: var(--disabled-secondary);
                                opacity: 0.2;
                                top: -120px;
                                transform: scale(0.6);
                                left: -50px;
                            }
                        }
                    }
                }
            }

            &-competition {
                & .competitors {
                    gap: var(--box-elements-gap);

                    &-info {
                        gap: var(--has-button-gap);
                        width: 50%;

                        .competitorDetails {
                            gap: var(--buttons-links);
                            h4 {
                                text-transform: capitalize;
                            }
                        }

                        .competitorImage {
                            width: 100%;
                            border-radius: 16px;
                            align-self: flex-start;
                            overflow: hidden;
                        }
                    }
                }
            }

            &-ideas {
                &-section {
                    width: 100%;
                    gap: var(--box-elements-gap);
                    border: 1px solid;
                    padding: var(--page-padding);
                    border-radius: 16px;

                    ol li:nth-child(1) {
                        padding-top: 0;
                    }
                }
            }

            &-flow {
                &-image {
                    gap: var(--has-button-gap);

                    .classImage {
                        overflow: hidden;
                        border-radius: 16px;
                    }
                }
            }

            &-sketches {
                &-images {
                    gap: var(--element-block-padding);

                    &-details {
                        border-radius: 16px;
                        overflow: hidden;
                    }
                }
            }

            &-wireframes {
                gap: var(--box-elements-gap) !important;
                &-images {
                    gap: var(--element-block-padding);
                    &-details {
                        border-radius: 16px;
                        overflow: hidden;
                    }
                }
            }

            &-updates {
                &-images {
                    border-radius: 16px;
                    overflow: hidden;
                }
            }

            &-branding {
                .brand-component {
                    gap: var(--box-elements-gap);
                }

                &-details {
                    gap: var(--box-elements-gap);

                    .color__list__holder {
                        gap: var(--buttons-links);
                    }

                    .color__list__holder {
                        width: 50%;
                        flex-wrap: wrap;
                        background-color: var(--disabled-primary);
                        border-radius: 16px;
                        overflow: hidden;
                        padding: var(--elements-inline-padding);

                        .colors__list {
                            height: 232px;
                            width: 23%;
                            padding: var(--paragraphs);
                            border-radius: 12px;

                            .colorate {
                                filter: invert(1);
                                mix-blend-mode: difference;
                            }
                        }
                    }

                    .type-slaw {
                        width: 50%;
                        border-radius: 16px;
                        overflow: hidden;
                    }
                }
            }

            &-components {
                &-details {
                    gap: var(--box-elements-gap);

                    .image-holder {
                        width: 50%;
                        border-radius: 16px;
                        overflow: hidden;

                        img {
                            height: 100%;
                        }
                    }
                }
            }

            &-finalWireframes {
                &-details {
                    gap: var(--box-elements-gap);

                    .image-holder {
                        border-radius: 24px;
                        overflow: hidden;
                    }
                }
            }
        }
    }

    .titler {
        grid-area: title;
        gap: var(--buttons-links);

        div {
            gap: var(--box-elements-gap);

            &.flex-row {
                justify-content: space-between;

                h3 {
                    width: 48%;
                }

                p {
                    width: 48%;
                }
            }
        }
    }

    .other-projects {
        gap: var(--has-button-gap);
        width: 100%;

        .h4 {
            padding-inline: var(--page-padding);

            @include devices(tablet) {
                text-align: left;
            }
        }
    }
}

.casestudy-outline {
    gap: var(--buttons-links);
    flex-wrap: wrap;
    z-index: 1;
    border-radius: 32px;
    position: fixed;
    bottom: var(--box-padding);
    right: var(--box-padding);
    top: unset;
    left: unset;
    background: rgba(1, 41, 34, 0.7);
    backdrop-filter: blur(10px);
    color: var(--active-neutral);
    box-shadow: -7px 5px 20px 10px rgba(0, 0, 0, 0.24);

    @include devices(phone) {
        align-items: center;
    }

    &-opening {
        cursor: pointer;
        overflow: hidden;

        .half-top {
            display: inline-flex;
            position: absolute;
            gap: var(--buttons-links);
            transition: all 0.5s ease;
            padding: 16px 32px;
            width: 100%;
            left: 0;
        }

        .half-bottom {
            padding: 16px 32px;
            display: inline-flex;
            transition: 500ms ease;
            position: relative;
            top: 0;
            left: 0;
            opacity: 1;
            width: 100%;
            gap: var(--buttons-links);
            transform: translate(0, 200%);
            transition: all 0.5s ease;
        }

        &-bars {
            width: 18px;
            height: 16px;
            gap: var(--caption-columns);
            transform: scale(0.8);

            & span {
                width: 100%;
                height: 2px;
                border-radius: 12px;
                background: var(--active-neutral);

                &.top {
                    top: 0;
                    left: 0;
                }

                &.last {
                    bottom: 0;
                    right: 0;
                }

                @include devices(phone) {
                    height: 1.5px;
                }
            }
        }

        &-minimize {
            &-bars {
                width: 13px;
                height: 16px;
                gap: var(--caption-columns);
                transform: scale(0.8);

                & span {
                    width: 100%;
                    height: 2px;
                    border-radius: 12px;
                    background: var(--active-neutral);

                    &.left {
                        transform: rotate(56deg);
                        top: 3px;
                        left: -3px;
                    }

                    &.right {
                        top: -3px;
                        left: 3px;
                        transform: rotate(-56deg);
                    }

                    @include devices(phone) {
                        height: 1.5px;
                    }
                }
            }
        }

        p {
            width: auto;
            overflow: hidden;
        }
    }

    ul {
        overflow: hidden;
        position: absolute;
        height: 0;
        max-height: 0;
        width: 200px;
        bottom: 105%;
        right: 0;
        top: unset;
        left: unset;
        padding: 0;
        border-radius: 12px;
        background: var(--active-neutral);
        box-shadow: none;
        transition: 0.3s linear;

        li {
            padding: var(--buttons-links);
            border-radius: 7px;
            transition: 0.5s ease;
            cursor: pointer;
            color: var(--active-secondary);

            &:hover {
                background: var(--disabled-primary);
            }
        }
    }

    &.opened {
        & .casestudy-outline-opening {
            .half-top {
                opacity: 0;
                transform: translate(0, -200%);
            }

            .half-bottom {
                opacity: 1;
                transform: none;
            }
        }

        ul {
            max-height: 530px;
            height: auto;
            overflow-y: scroll;
            padding: var(--buttons-links);
            border: 1px solid var(--active-secondary);
            box-shadow: -7px 5px 20px 10px rgba(0, 0, 0, 0.24);
        }
    }
}

// .menu-bars {
//     width: 20px;
//     height: 18px;
//     gap: 6px;

//     &-span {
//         display: block;
//         height: 2px;
//         background: var(--active-accent);

//         &.top {
//             top: 9px;
//             transform: rotate(45deg);
//             left: 1px;
//         }

//         &.last {
//             top: 7px;
//             transform: rotate(-45deg);
//             right: -1px;
//         }
//     }
// }
