.case-study {

    #round {
        border-width: 1.5px;
    }

    .project-head {
        padding: 0 var(--page-padding) !important;
        transition: 1s;

        .head {
            gap: var(--parents-elements-gap);
            padding-bottom: 0;

            &-text {
                @include devices(tablet) {
                    flex-direction: column;
                }

                &-top {
                    gap: var(--paragraphs);
                }
            }
        }
    }

    .main {
        padding-top: var(--parents-elements-gap);

        .project-details {
            gap: 0;
            padding-left: var(--padding-none);
            padding-right: var(--padding-none);
            padding-bottom: var(--padding-none);
            border-radius: 0;

            .details-section {
                gap: var(--page-padding);
                padding: var(--padding-none) var(--page-padding) var(--padding-none);
                width: 100%;

                &.divider {
                    padding-top: var(--padding-none);
                }

                &-title {
                    width: 90%;

                    @include devices(tablet) {
                        width: 100%;
                    }
                }

                @include devices(tablet) {
                    flex-direction: column;
                    gap: var(--element-block-gap);
                }
            }

            .grouper {
                gap: var(--header-gap);
                padding: 0 0 var(--body-top-padding);
                background-color: var(--active-neutral);

                @include devices(tablet) {
                    gap: var(--parents-elements-gap);
                }
            }

            &-home {
                &.details-section {
                    padding: var(--padding-none);
                }
            }

            &-cover-image {
                height: 776px;
                background-color: var(--active-accent);
                overflow: hidden;

                @include devices(tablet) {
                    height: 480px;
                }

                @include devices(phone) {
                    height: 280px;
                }

                img {
                    min-width: 100%;
                    min-height: 100%;
                    object-position: center;

                    @include devices(tablet) {
                        height: 100%;
                    }
                }
            }

            &-description {

                &-checker {
                    gap: var(--paragraphs);

                    &-context {
                        gap: var(--header-gap);

                        @include devices(tablet) {
                            flex-direction: column;
                            gap: var(--element-block-gap);
                        }

                        &-describe {
                            gap: var(--buttons-links);
                            width: 68%;

                            @include devices(tablet) {
                                width: 100%;
                            }
                        }

                        &-roles {
                            width: 32%;
                            gap: var(--box-elements-gap);

                            @include devices(tablet) {
                                width: 100%;
                                flex-direction: column;
                                gap: var(--box-elements-gap);
                            }

                            &-section {
                                gap: var(--caption-columns);

                                h4 {
                                    text-transform: capitalize;
                                }

                                &-team {
                                    gap: var(--buttons-links);
                                }
                            }
                        }
                    }
                }
            }

            &-problem {
                &.details-section {
                    padding-inline: var(--padding-none);

                    & .title {
                        padding-inline: var(--page-padding);
                    }

                    & .images {
                        gap: var(--element-block-padding);
                        justify-content: space-between;

                        &-image {
                            background: var(--disabled-primary);
                            overflow: hidden;
                            width: 100%;

                            &-self {
                                height: 704px;

                                @include devices(tablet) {
                                    height: 560px;
                                }

                                @include devices(phone) {
                                    height: 216px;
                                }

                                img {
                                    height: 100%;
                                }
                            }
                        }
                    }
                }

            }

            &-insights {
                &.details-section {
                    gap: var(--element-block-gap);

                    .complaints {
                        flex-direction: column;
                        gap: var(--has-button-gap);
                    }

                    & .numbers {
                        gap: var(--box-elements-gap);
                        justify-content: space-between;

                        @include devices(phone) {
                            flex-direction: column;
                        }

                        &-details {
                            padding: var(--paragraphs);
                            width: 33%;
                            gap: var(--paragraphs);
                            justify-content: center;
                            border: 1px solid;
                            border-radius: 100%;

                            @include devices(phone) {
                                width: 100%;
                            }
                        }
                    }

                    &.testing {
                        border-radius: 0;
                        gap: var(--parents-elements-gap);

                        & .complaints {
                            flex-direction: row;
                            gap: var(--header-gap);

                            @include devices(tablet) {
                                flex-direction: column;
                            }

                            h5 {
                                width: 44%;

                                @include devices(tablet) {
                                    width: 100%;
                                }
                            }

                            ol {
                                width: 56%;
                                height: 504px;

                                @include devices(tablet) {
                                    width: 100%;
                                }

                                li {
                                    list-style: none;
                                    width: 56%;
                                    text-align: center;
                                    background-color: var(--active-accent);
                                    color: var(--active-secondary);
                                    padding: var(--box-padding);
                                    border: 1px solid var(--active-secondary);
                                    box-shadow: 0px 16px 40px 0px rgba(0, 106, 93, 0.32);

                                    &:nth-child(1) {
                                        top: -40px;
                                        left: -38px;
                                    }

                                    &:nth-child(2) {
                                        top: 66px;
                                        position: absolute;
                                        right: 0;
                                        left: unset;
                                        transform: rotate(-10deg);
                                    }

                                    &:nth-child(3) {
                                        top: 76%;
                                        position: absolute;
                                        right: 32%;
                                        left: unset;

                                        @include devices(tablet) {
                                            top: 66%
                                        }
                                    }

                                    &:nth-child(4) {
                                        left: -74px;
                                        top: -8px;
                                        transform: rotate(5deg);

                                        @include devices(tablet) {
                                            left: -37px
                                        }
                                    }

                                    &:nth-child(5) {
                                        left: 36%;
                                        top: -24px;
                                    }

                                }
                            }
                        }

                        & .numbers {
                            flex-direction: column;
                            gap: var(--element-block-padding);

                            &-details {
                                color: var(--active-secondary);
                                border: 1px solid var(--active-secondary);
                                background-color: unset;
                            }

                            &-flex {
                                gap: var(--box-elements-gap);

                                @include devices(phone) {
                                    flex-direction: column;
                                }

                            }
                        }

                        &.final_testing {
                            &.details-section {
                                padding-inline: var(--padding-none);
                            }

                            & .titler {
                                padding-inline: var(--page-padding);
                                width: 100%;

                                @include devices(tablet) {
                                    gap: var(--parents-elements-gap);
                                }

                                div {
                                    gap: var(--header-gap);

                                    @include devices(tablet) {
                                        flex-direction: column;
                                        gap: var(--paragraphs);
                                    }
                                }

                                p.h5,
                                p.p2 {
                                    width: 32%;

                                    @include devices(tablet) {
                                        width: 100%;
                                    }
                                }

                                p.p1 {
                                    width: 56%;

                                    @include devices(tablet) {
                                        width: 100%;
                                    }
                                }
                            }

                            & .list {
                                width: 100%;
                                padding: 0 var(--page-padding);
                                overflow-x: scroll;

                                .numbers {
                                    &-details {
                                        width: 416px;
                                        text-align: center;
                                    }
                                }
                            }

                            & .image-push {
                                padding-inline: var(--page-padding);
                                width: 100%;

                                &>div {
                                    overflow: hidden;
                                    background-color: var(--disabled-primary);
                                    border: none;

                                    img {
                                        width: 100%;
                                        object-fit: contain;
                                        height: 100%;
                                        max-width: unset;
                                        outline: none;
                                    }
                                }
                            }
                        }
                    }

                    &.review {
                        gap: var(--header-gap);

                        @include devices(tablet) {
                            gap: var(--paragraphs);
                        }

                        & .title {
                            width: 40%;

                            @include devices(tablet) {
                                width: 100%;
                            }
                        }

                        & .describer {
                            width: 60%;

                            @include devices(tablet) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &-understand {
                &.details-section {
                    justify-content: space-between;
                    align-items: center;
                    gap: var(--parents-elements-gap);
                }

                &-section {
                    gap: var(--paragraphs);

                    &.constraints {
                        gap: var(--header-gap);

                        @include devices(tablet) {
                            flex-direction: column;
                            width: 100%;
                        }

                        h4 {
                            width: 44%;

                            @include devices(tablet) {
                                width: 100%;
                            }
                        }

                        ol {
                            padding: var(--padding-none);
                            width: 56%;
                            height: 320px;

                            @include devices(tablet) {
                                width: 100%;
                            }

                            @include devices(phone) {
                                height: 240px;
                            }

                            li {
                                list-style: none;
                                padding: var(--box-padding);
                                max-width: 400px;
                                color: var(--active-secondary);
                                background-color: var(--active-accent);
                                border: 1px solid var(--active-secondary);
                                box-shadow: 0px 16px 40px 0px rgba(0, 106, 93, 0.32);
                                text-align: center;

                                &:nth-child(even) {
                                    position: absolute;
                                    transform: rotate(-2deg);
                                    right: 50px;
                                    left: unset;
                                    top: 208px;

                                    @include devices(phone) {
                                        top: 160px;
                                    }
                                }

                                &:nth-child(2) {
                                    top: 46px;
                                    transform: rotate(4deg);
                                    right: 0;
                                }

                                &:nth-child(odd) {
                                    transform: rotate(-8deg);
                                    top: -16px;
                                }

                                &:nth-child(3) {
                                    top: 24px;
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }
            }

            &-user {
                .persona {
                    gap: var(--box-elements-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .user-persona-details {
                        gap: var(--box-elements-gap);
                        padding: var(--box-padding);
                        border: 1px solid;
                        width: 50%;
                        max-height: 313px;

                        @include devices(sm-laptop) {
                            max-height: 213px;
                        }

                        @include devices(tablet) {
                            width: 100%;
                            max-height: unset;
                        }

                        @include devices(phone) {
                            flex-direction: column;
                        }

                        &-person {
                            gap: var(--paragraphs);
                            width: 65%;

                            @include devices(phone) {
                                width: 100%;
                            }

                            &-image-holder {
                                width: 35%;
                                height: 248px;
                                border: 1px solid;
                                overflow: hidden;

                                @include devices(sm-laptop) {
                                    height: 164px;
                                }

                                @include devices(phone) {
                                    height: 248px;
                                    width: 100%;
                                }

                                img {
                                    height: 100%;
                                    width: 100%;
                                }
                            }
                        }

                        &-quote {
                            &::before {
                                content: "\201C";
                                font-family: "Fancyou";
                                line-height: 0.8;
                                font-weight: normal;
                                font-size: 480px;
                                position: absolute;
                                color: var(--disabled-secondary);
                                opacity: 0.1;
                                top: -120px;
                                transform: scale(0.6);
                                left: -50px;
                            }

                            @include devices(phone) {
                                width: 100%;
                            }
                        }

                        &:last-child {
                            margin-top: var(--page-padding);

                            @include devices(tablet) {
                                margin-top: 0;
                            }
                        }
                    }
                }
            }

            &-competition {
                & .competitors {
                    gap: var(--has-button-gap);

                    @include devices(phone) {
                        flex-direction: column;
                    }

                    &-info {
                        gap: var(--has-button-gap);
                        width: 48%;

                        @include devices(phone) {
                            width: 100%;
                        }

                        .competitorDetails {
                            gap: var(--paragraphs);

                            h5 {
                                text-transform: capitalize;
                                width: fit-content;
                                align-self: center;

                                @include devices(phone) {
                                    align-self: flex-start;
                                }
                            }
                        }

                        .competitorImage {
                            width: 100%;
                            align-self: flex-start;
                            overflow: hidden;
                            border: 1px solid var(--active-secondary);
                        }
                    }
                }
            }

            &-ideas {
                &-section {
                    width: 100%;
                    // gap: var(--box-elements-gap);

                    ol li:nth-child(1) {
                        padding-top: 0;
                    }
                }
            }

            &-flow {
                &-image {
                    gap: var(--element-block-gap);
                    width: 100%;

                    .classImage {
                        overflow: hidden;
                        height: 280px;
                        border: 1px solid var(--active-secondary);

                        @include devices(phone) {
                            height: 120px;
                        }

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }

                &.sitemap {
                    .classImage {
                        height: auto;
                        overflow: hidden;
                        border: none;

                        img {
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            &-sketches {

                &.details-section {
                    gap: var(--element-block-gap);
                    padding-inline: 0;
                }

                & .titler {
                    padding-inline: var(--page-padding);
                }

                &-images {
                    gap: var(--element-block-padding);

                    &-details {
                        overflow: hidden;
                        background-color: var(--disabled-primary);

                        &.calme{
                            padding: var(--body-top-padding) var(--page-padding);
                            gap: var(--has-button-gap);
        
                            & .project-details-sketches-image-holder{
                                width: 30%;
                                gap: var(--paragraphs);

                                img{
                                    border: 2px solid;
                                }
                            }
                        }
                    }
                }
            }

            &-wireframes {

                & .screens-holder {
                    gap: var(--header-gap);
                }

                &-images {
                    gap: var(--has-button-gap);

                    &-details {
                        overflow: hidden;
                    }
                }
            }

            &-updates {
                gap: var(--element-block-gap);

                &-images {
                    overflow: hidden;
                    border: 1px solid var(--active-secondary);
                }
            }

            &-branding {

                .brand-component {
                    gap: var(--box-elements-gap);
                }

                &-details {
                    gap: var(--box-elements-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .color__list__holder {
                        gap: var(--buttons-links);
                    }

                    .color__list__holder {
                        width: 50%;
                        flex-wrap: wrap;
                        overflow: hidden;

                        @include devices(tablet) {
                            width: 100%;
                        }

                        .colors__list {
                            min-height: 232px;
                            width: 23%;
                            padding: var(--paragraphs);
                            border: 1px solid var(--active-secondary);
                            flex-grow: 1;

                            @include devices(sm-laptop) {
                                min-height: 160px;
                                padding: var(--buttons-links);
                            }

                            @include devices(phone) {
                                min-height: 104px;
                                padding: var(--buttons-links);
                            }

                            .colorate {
                                filter: invert(1);
                                mix-blend-mode: difference;
                            }
                        }
                    }

                    .type-slaw {
                        width: 50%;
                        overflow: hidden;
                        border: 1px solid var(--active-secondary);

                        @include devices(tablet) {
                            width: 100%;
                        }
                    }
                }
            }

            &-components {
                &-details {
                    gap: var(--box-elements-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .image-holder {
                        width: 50%;
                        overflow: hidden;
                        border: 1px solid var(--active-secondary);

                        @include devices(tablet) {
                            width: 100%;
                        }

                        img {
                            width: 100%;
                            max-width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            &-finalWireframes {
                &.details-section {
                    background-color: var(--active-secondary);
                    color: var(--active-neutral);
                    padding: var(--body-top-padding) var(--page-padding);
                }

                &-details {
                    gap: var(--header-gap);
                }
            }

            &-re-iterations {

                gap: var(--header-gap);

                &.details-section {
                    background-color: var(--active-secondary);
                    color: var(--active-neutral);
                    padding: var(--body-top-padding) var(--page-padding);
                }

                &-title {
                    gap: var(--header-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                        gap: var(--parents-elements-gap);
                    }

                    .p1 {
                        width: 40%;

                        @include devices(tablet) {
                            width: 100%;
                        }
                    }

                    .describer {
                        overflow: hidden;

                        img {
                            border: 2px solid var(--active-primary);
                        }
                    }
                }
            }
        }
    }

    .titler {
        width: 100%;
        gap: var(--parents-elements-gap);

        @include devices(tablet) {
            flex-direction: column;
            gap: var(--paragraphs);
        }

        .h5 {
            width: 44%;
        }

        .fisher {
            width: 44%;
            gap: var(--caption-columns);

            .h5 {
                width: 100%;
            }
        }

        div {
            gap: var(--has-button-gap);

            &.flex-row {
                justify-content: space-between;

                h3 {
                    width: 48% !important;

                    @include devices(tablet) {
                        width: 100% !important;
                    }
                }

                p {
                    width: 48% !important;

                    @include devices(tablet) {
                        width: 100% !important;
                    }
                }
            }
        }

        .filler{
            .describer{
                width: 56% !important;

                @include devices(tablet) {
                    width: 100% !important;
                }
            }
        }
    }

    .full-images-section {
        gap: var(--element-block-gap);

        &-images {
            gap: var(--has-button-gap);
            flex-wrap: wrap;

            @include devices(tablet) {
                gap: var(--box-elements-gap);
            }

            .column {
                width: 30%;
                gap: var(--has-button-gap);

                @include devices(sm-laptop) {
                    width: 29%;
                }

                @include devices(tablet) {
                    width: 48%;
                }

                @include devices(phone) {
                    width: 100%;
                }

                & .full-images-section-images-holder {
                    width: 100%;
                }
            }

            &-holder {
                width: 30%;
                gap: var(--paragraphs);

                @include devices(tablet) {
                    width: 48%;
                }

                @include devices(phone) {
                    width: 100%;
                }

                img {
                    width: 100%;
                }
            }
        }
    }


    .describer {
        width: 56%;
        align-self: flex-end;

        @include devices(tablet) {
            width: 100%;
        }
    }

    .other-projects {
        gap: var(--header-gap);

        &-details {
            gap: var(--has-button-gap);

            &-head {
                padding-inline: var(--page-padding);

                @include devices(tablet) {
                    text-align: left;
                }
            }
        }

        &-divider {
            padding-inline: var(--page-padding);
        }

    }
}

.casestudy-outline {
    gap: var(--buttons-links);
    display: none;
    flex-wrap: wrap;
    z-index: 17;
    position: fixed;
    top: unset;
    left: unset;
    background: var(--active-accent);
    color: var(--active-secondary);
    overflow: hidden;
    overflow-x: scroll;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px -8px 20px 10px rgba(0, 0, 0, 0.12);
    border-top: 1.2px solid;


    &::-webkit-scrollbar {
        height: 6px;
    }

    &::-webkit-scrollbar-track {
        background: var(--active-neutral);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: var(--active-primary);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: var(--active-primary);
    }

    @include devices(phone) {
        align-items: center;
    }

    @include devices(tablet) {
        &::-webkit-scrollbar {
            height: 0;
        }
    }


    ul {
        padding: 0;
        border-radius: 0;
        height: auto;
        padding: var(--siblings) var(--has-button-gap);
        gap: var(--siblings);


        @include devices(tablet) {
            padding-block: var(--paragraphs);
        }

        li {
            padding: var(--buttons-links) var(--paragraphs);
            border-radius: 50px;
            border: 1.2px solid var(--active-secondary);
            transition: 0.5s ease;
            cursor: pointer;
            min-width: 304px;
            text-align: center;

            &:hover {
                background: var(--disabled-primary);
                border-color: var(--disabled-primary);
                color: var(--active-secondary);
            }


            @include devices(tablet) {
                min-width: 200px;
            }

            @include devices(phone) {
                min-width: 160px;
            }

        }
    }

}