.contact {
    .landing {
        padding: var(--padding-none)var(--page-padding);

        .head {
            padding-bottom: var(--parents-elements-gap);
            text-wrap: nowrap;
        }
    }

    .main {
        article {
            padding-top: var(--padding-none);
            gap: var(--header-gap);

            @include devices(tablet) {
                flex-direction: column;
                gap: var(--element-block-gap);
            }

            .contact-info {
                width: 45%;
                gap: var(--paragraphs);

                & p {
                    gap: var(--buttons-links);

                    & a {
                        gap: var(--buttons-links);
                    }
                }

                @include devices(tablet) {
                    width: 100%;
                }
            }

            .contact-form {
                width: 55%;
                align-self: center;

                @include devices(tablet) {
                    width: 100%;
                }

                &-group {
                    padding-bottom: var(--element-block-padding);
                    gap: var(--buttons-links);
                    width: 100%;

                    &.message {
                        padding-bottom: var(--page-padding);
                    }

                    &:last-child {
                        padding-bottom: var(--padding-none);
                    }
                }

                &-control {
                    background-color: unset;
                    border-bottom: 1px solid var(--active-secondary);
                    padding: var(--siblings) var(--padding-none) var(--padding-none);
                    font-size: 16px;
                    border-radius: unset;

                    &.area {
                        height: 128px;
                        resize: none;
                    }
                }
            }

            .lister {
                .listing {
                    @include devices(phone) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    p {
                        margin-bottom: var(--buttons-links);

                        @include devices(sm-laptop) {
                            margin-bottom: 0;
                        }
                    }

                    a {
                        align-items: center;
                        gap: var(--paragraphs);
                        transition: 0.5s ease;
                        color: var(--active-secondary);

                        svg {
                            width: 16px;
                            height: auto;
                            color: var(--active-secondary);
                        }

                        &:hover,
                        &:hover svg {
                            color: var(--active-primary);
                            fill: var(--active-primary);
                        }
                    }
                }
            }
        }
    }

    footer {
        .copyright {
            @include devices(phone) {
                padding-top: var(--elements-inline-padding);
            }
        }
    }
}