.contact {
    
    .landing {
        padding: var(--padding-none) var(--page-padding);

        .head {
            padding-bottom: var(--header-gap);
        }
    }

    .main {
        article {
            padding-top: var(--padding-none);

            .lister {
                .listing {
                    p {
                        margin-bottom: var(--buttons-links);

                        @include devices(tablet){
                            margin-bottom: 0;
                        }
                    }

                    a {
                        align-items: center;
                        gap: var(--paragraphs);
                        transition: 0.5s ease;
                        color: var(--active-secondary, #002822);

                        svg {
                            width: 16px;
                            height: auto;
                            color: var(--active-secondary, #002822);
                        }

                        &:hover,
                        &:hover svg {
                            color: var(--active-primary, #006a5d);
                            fill: var(--active-primary, #006a5d);
                        }
                    }
                }
            }
        }
    }
}
