.pricing {
    .landing {
        padding: var(--padding-none, 0) var(--page-padding, 96px);

        .head {
            padding-bottom: var(--header-gap, 128px);
        }
    }

    .main {
        article {
            padding-top: var(--padding-none, 0px);
        }
    }
}
