.portfolio {
    .head {
        padding-bottom: var(--page-padding);

        &-text {
            gap: var(--has-button-gap);

            @include devices(tablet) {
                justify-content: flex-start;
                align-items: flex-start;
            }

            .tagger {
                gap: var(--paragraphs);

                @include devices(tablet) {
                    gap: var(--buttons-links);
                    overflow-x: scroll;
                    padding-bottom: var(--paragraphs);
                }
                @include devices(mobile) {
                    justify-content: flex-start;
                }
            }
        }
    }

    .main {
        article {
            border-radius: 0 0 128px 128px;
            padding-top: var(--padding-none);

            @include devices(phone) {
                border-radius: 0 0 56px 56px;
            }

            .works {
                .projekt-pair {
                    gap: var(--parents-elements-gap);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .projekt-container {
                        gap: var(--has-button-gap) !important;

                        &-image {
                            width: 100% !important;

                            @include devices(phone) {
                                height: 320px;
                            }
                        }

                        &-details {
                            width: 100% !important;
                            .clave {
                                width: 100%;
                            }
                        }
                    }

                    $div-count: 20;

                    @for $i from 1 through $div-count {
                        $number: if($i % 2 == 1, $i, $i + 1);
                        $width: if($number % 4 == 1, 60%, 40%);

                        &:nth-child(#{$number}) {
                            .projekt:nth-child(1) {
                                width: #{$width} !important;

                                @include devices(tablet) {
                                    width: 100% !important;
                                }
                            }
                            .projekt:nth-child(2) {
                                width: calc(100% - #{$width}) !important;

                                @include devices(tablet) {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
