@import "../../../../node_modules/tailwindcss/base";
@import "../../../../node_modules/tailwindcss/components";
@import "../../../../node_modules/tailwindcss/utilities";

@import "./variables/breakpoints", "./variables/general", "./variables/spacings", "./variables/animations",
    "./variables/colors", "./variables/type", "./pages/home", "./pages/about", "./pages/contact", "./pages/work",
    "./pages/pricing", "./components/nav", "./components/buttonlink", "./components/tab", "./components/footer";

*,
*::before,
*::after {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0;
}

::-webkit-scrollbar-track {
    background: var(--active-accent);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--active-secondary, #002822);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--active-secondary, #002822);
}

/*
    T y p o g r a p h y
*/

.h1 {
    @include h1;
}

.h2 {
    @include h2;
}

.h3 {
    @include h3;
}

.h4 {
    @include h4;
}

.s1 {
    @include s1;
}

.p1 {
    @include p1;
}

.p2 {
    @include p2;
}

.c1 {
    @include c1;
}

.b1 {
    @include b1;
}

body {
    font-size: var(--font-size);
    font-family: var(--font-family);
    scroll-behavior: smooth;
    min-height: 100vh;
    background-color: var(---disabled-primary, #cbe0de);
    color: var(--active-secondary, #002822);
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

img {
    pointer-events: none;
}

main {
    padding: var(--header-gap) var(--padding-none) 0;
    background-color: var(--active-neutral, #e5efee);
    gap: var(--gap-none);
    padding-top: 0;
}

#root {
    position: relative;
    height: 100vh;
    -webkit-perspective: 1500px;
    perspective: 1500px;
}

.liner {
    width: 100%;
    display: inline-block;
    height: 1.6px;
    flex: 1;
    background-color: var(--active-secondary, #002822);

    &.secondary {
        background-color: var(---disabled-secondary, #8da7a4);
        flex: auto;
    }
}

.lister {
    padding: 0px var(--page-padding);
    gap: var(--header-gap);

    @include devices(tablet) {
        padding: 0;
    }

    .listing {
        padding: var(--element-block-padding) 0px;
        border-bottom: 1px solid var(--disabled-secondary, #8da7a4);

        @include devices(phone) {
            flex-direction: row;
            gap: var(--paragraphs);
            align-items: center;
        }

        @media screen and(max-width: 320px) {
            flex-direction: column;
        }

        &:first-child {
            padding-top: 0px;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

.copyright {
    @include devices(phone) {
        flex-direction: column;
        gap: var(--has-button-gap);
        align-items: flex-start;
    }

    .social-media {
        gap: var(--paragraphs);

        @include devices(phone) {
            gap: var(--has-button-gap);
        }

        svg {
            width: 20px;
            height: auto;
            stroke: var(--active-accent, #e5efee);
            fill: none !important;
        }
    }
}

.cursor {
    width: 16px;
    height: 16px;
    pointer-events: none;
    position: fixed;
    padding: 6px;
    transform: translate(-50%, -50%);
    // background-color: var(--active-neutral, #e5efee);
    background-color: #ffd7dd;
    color: var(--active-primary, #006a5d);
    border-radius: 50%;
    transition:
        top 0.05s ease-in,
        left 0.05s ease-in,
        transform 0.05s linear,
        background-color 0.3s ease,
        color 0.5s ease,
        opacity 0.1s linear;
    z-index: 100000;
    mix-blend-mode: difference;
    opacity: 0;
}

// .cursor.c-project {
//     padding: 16px 12px 15px;
//     mix-blend-mode: unset;
//     background-color: var(--active-primary, #006a5d);
//     color: var(--active-neutral, #e5efee);
// }

// .cursor.c-balance {
//     padding: 16px 19px 16px;
//     mix-blend-mode: unset;
//     background-color: var(--active-primary, #006a5d);
//     color: var(--active-neutral, #e5efee);
// }

// a:hover ~ .cursor {
//     transform: translate(-50%, -50%) scale(8);
// }
