.scrolling-container {
    padding: var(--paragraphs) 0;
    background: var(--active-secondary);

    .scrolling_text {
        overflow: hidden;
        white-space: nowrap;

        .text {
            animation: animate_text 30s linear infinite;

            span {
                margin: 0 40px;
                color: var(--active-accent);

                @include devices(phone){
                    margin: 0 24px;
                }
            }
        }
    }
}

@keyframes animate_text {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
