:root {
    --active-neutral: #e5efee;
    --active-placeholder: #bdbdbd;

    --active-accent: #fefefe;
    --active-primary: #006a5d;
    --active-secondary: #002822;
    --active-secondary-dark: #0d1d1a;

    --active-accent-blur: #e5efee3d;
    --active-secondary-blur: #00282229;
    --active-primary-blur: #006a5eb8;
    --active-secondary-dark-blur: rgba(13, 29, 26, 0.89);

    --disabled-primary: #cbe0de;
    --disabled-secondary: #8da7a4;
    --disabled-secondary-dark: #092f2a;
}