.landing {
    padding: var(--padding-none) var(--page-padding) var(--caption-columns);
    background-color: var(--active-neutral, #e5efee);

    & .head {
        padding: var(--body-top-padding) 0 0;
        width: 100%;

        &-text {
            gap: var(--box-elements-gap);

            &-top {
                gap: 16px;
                width: 100%;

                @include devices(phone) {
                    gap: var(--buttons-links);
                }
            }

        }
    }
}

.main {
    background: var(--active-secondary, #002822);

    article {
        padding: 0 var(--page-padding) var(--main-gap);
        gap: var(--header-gap);
        background: var(--active-neutral, #e5efee);
        padding-top: var(--page-padding);

        @include devices(phone) {
            padding-bottom: var(--body-top-padding);
        }

        &.idea {
            padding-top: var(--elements-block-padding);
        }

        h2 {
            gap: var(--paragraphs);
        }

        .works {
            gap: var(--parents-elements-gap);
            flex-wrap: wrap;
            flex-direction: row;

            .projekt {
                &-container {
                    gap: var(--has-button-gap);
                    width: 100%;

                    &-image {
                        background: var(--active-accent, #fefefe);
                        width: 60%;
                        height: 496px;
                        border-radius: 32px;

                        @include devices(tablet) {
                            height: 448px;
                            border-radius: 24px;
                        }

                        @include devices(phone) {
                            height: 320px;
                        }
                    }

                    &-details {
                        gap: var(--has-button-gap);
                        flex: 1 0 0;
                        align-self: stretch;
                        color: var(--active-secondary, #002822);

                        .clave {
                            gap: var(--paragraphs);
                            width: 100%;
                            padding: var(--padding-none) var(--buttons-links);
                        }
                    }
                }
            }
        }
    }

    .process-container {
        border-radius: 0 0 128px 128px;
        padding-top: var(--element-block-padding);

        @include devices(tablet) {
            border-radius: 0 0 72px 72px;
        }

        @include devices(phone) {
            border-radius: 0 0 48px 48px;
        }
    }
}
