.landing {
    padding: var(--padding-none) var(--page-padding) var(--caption-columns);
    background-color: var(--active-neutral, #e5efee);

    & .head {
        padding: var(--body-top-padding) 0 0;
        width: 100%;

        &-text {
            gap: var(--box-elements-gap);

            &-top {
                gap: 16px;
                width: 100%;

                @include devices(phone) {
                    gap: var(--buttons-links);
                }
            }
        }
    }
}

.main {
    article {
        padding: 0 var(--page-padding) var(--main-gap);
        gap: var(--header-gap);
        // background: var(--active-neutral, #e5efee);

        padding-top: var(--page-padding);

        @include devices(phone) {
            padding-bottom: var(--body-top-padding);
        }

        &.idea {
            padding-top: var(--elements-block-padding);
        }

        h2 {
            gap: var(--paragraphs);
        }

        .works {
            gap: var(--element-block-padding);
            flex-wrap: wrap;
            flex-direction: row;

            .projekt {
                align-self: flex-start;

                &:hover .projekt-container-image {
                    transform: scale(1.04);
                }

                &-pair {
                    gap: var(--element-block-padding);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .projekt-container {
                        gap: var(--box-elements-gap);
                        width: 100%;

                        &-image {
                            background: var(--active-accent, #fefefe);
                            height: 520px;
                            border-radius: 20px;
                            overflow: hidden;
                            transition: all 0.6s ease;
                            width: 100% !important;

                            img {
                                object-position: center;
                                min-height: 100%;
                            }

                            @include devices(tablet) {
                                height: 464px;
                            }

                            @include devices(phone) {
                                height: 376px;
                            }
                        }

                        &-details {
                            gap: var(--has-button-gap);
                            flex: 1 0 0;
                            align-self: stretch;
                            color: var(--active-secondary, #002822);
                            width: 100% !important;

                            .clave {
                                gap: var(--paragraphs);
                                width: 100%;
                                padding: var(--padding-none) var(--buttons-links);
                            }
                        }

                    }

                    $div-count: 20;

                    @for $i from 1 through $div-count {
                        $number: if($i % 2 == 1, $i, $i + 1);
                        $width: if($number % 4 == 1, 60%, 40%);

                        &:nth-child(#{$number}) {
                            .projekt:nth-child(1) {
                                width: #{$width} !important;

                                @include devices(tablet) {
                                    width: 100% !important;
                                }
                            }
                            .projekt:nth-child(2) {
                                width: calc(100% - #{$width}) !important;

                                @include devices(tablet) {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .process-container {
        // border-radius: 0 0 128px 128px;
        padding-top: var(--element-block-padding);

        @include devices(tablet) {
            // border-radius: 0 0 72px 72px;
        }

        @include devices(phone) {
            // border-radius: 0 0 48px 48px;
        }
    }
}
