.landing {
    padding: var(--padding-none) var(--page-padding) var(--caption-columns);
    background-color: var(--active-neutral);

    &.empty {
        padding-bottom: var(--main-gap);
        min-height: calc(88vh - var(--page-padding));
    }

    & .head {
        padding: var(--body-top-padding) 0 0;
        width: 100%;

        &-text {
            gap: var(--element-block-gap);

            &-top {
                gap: var(--siblings);
                width: 100%;

                @include devices(phone) {
                    gap: var(--buttons-links);
                }
            }
        }
    }
}

.main {
    article {
        padding: var(--main-gap) var(--page-padding) var(--main-gap);
        gap: var(--header-gap);
        background: var(--active-neutral);
        overflow: hidden;

        @include devices(phone) {
            padding-bottom: var(--main-gap);
        }

        &.idea {
            padding-top: var(--page-padding);
            gap: var(--parents-elements-gap);

            @include devices(sm-laptop) {
                gap: var(--element-block-gap);
                padding-top: var(--main-gap);
            }

            & .h2 {
                @include devices(phone) {
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    width: 50%;
                }

                & span {
                    @include devices(phone) {
                        left: -24px;
                    }
                }
            }
        }

        .works {
            gap: var(--paragraphs);
            flex-wrap: wrap;
            flex-direction: row;

            .projekt {
                align-self: flex-start;
                width: 50%;
                background-color: var(--disabled-primary);

                @include devices(tablet) {
                    width: 100%;
                }

                &-pair {
                    gap: var(--paragraphs);

                    @include devices(tablet) {
                        flex-direction: column;
                    }

                    .projekt-container {
                        gap: var(--paragraphs);
                        width: 100%;

                        &-image {
                            background-size: cover;
                            background-repeat: no-repeat;
                            height: 720px;
                            overflow: hidden;
                            transition: all 0.6s ease;
                            width: 100%;
                            transform: translate3d(0, 0, 0);
                            backface-visibility: hidden;
                            -webkit-perspective: 1000;
                            perspective: 1000;

                            div {
                                height: 100%;
                            }

                            img {
                                object-position: center;
                                min-height: 100%;
                                transition: all 0.5s linear;
                            }

                            @include devices(sm-laptop) {
                                height: 600px;
                            }

                            @include devices(tablet) {
                                height: 592px;
                            }

                            @include devices(phone) {
                                height: 504px;
                                background-position-x: -72px;
                                background-position-y: 0px;
                            }
                        }

                        &-details {
                            flex: 1 0 0;
                            align-self: stretch;
                            color: var(--active-accent);
                            width: 100% !important;
                            padding: var(--element-block-padding);


                            .clave {
                                gap: var(--caption-columns);
                                width: 100%;

                                @include devices(tablet) {
                                    align-items: start;
                                }

                                p {
                                    width: 60%;

                                    @include devices(sm-laptop) {
                                        width: 65%;
                                    }

                                    @include devices(phone) {
                                        width: 100%;
                                        text-align: left;
                                    }
                                }
                            }
                        }
                    }

                    // $div-count: 20;

                    // @for $i from 1 through $div-count {
                    //     $number: if($i % 2==1, $i, $i + 1);
                    //     $width: if($number % 4==1, 50%, 50%);

                    //     &:nth-child(#{$number}) {
                    //         .projekt:nth-child(1) {
                    //             width: #{$width};

                    //             @include devices(tablet) {
                    //                 width: 100%;
                    //             }
                    //         }

                    //         .projekt:nth-child(2) {
                    //             width: calc(100% - #{$width});

                    //             @include devices(tablet) {
                    //                 width: 100%;
                    //             }
                    //         }
                    //     }
                    // }
                }

            }
        }

        .moreProjects {
            gap: var(--box-elements-gap);

            & p {
                width: 42%;
                text-align: center;

                @include devices(sm-laptop) {
                    width: 56%;
                }

                @include devices(tablet) {
                    width: 64%;
                }

                @include devices(phone) {
                    width: 80%;
                }
            }
        }
    }

    .process-container {
        // border-radius: 0 0 128px 128px;
        padding-top: var(--element-block-padding);

        @include devices(sm-laptop) {
            // border-radius: 0 0 72px 72px;
        }

        @include devices(phone) {
            // border-radius: 0 0 48px 48px;
        }
    }
}