:root {
    /* Mode 1 */
    /* numbers */
    --desktop-gap-none: 0px;
    --desktop-caption-columns: 4px;
    --desktop-buttons-links: 8px;
    --desktop-paragraphs: 24px;
    --desktop-box-elements-gap: 32px;
    --desktop-has-button-gap: 48px;
    --desktop-parents-elements-gap: 104px;
    --desktop-header-gap: 128px;
    --desktop-main-gap: 200px;

    --desktop-padding-none: 0px;
    --desktop-box-padding: 32px;
    --desktop-elements-inline-padding: 48px;
    --desktop-element-block-padding: 64px;
    --desktop-page-padding: 96px;
    --desktop-body-top-padding: 160px;

    --tablet-gap-gap-none: 0px;
    --tablet-gap-caption-columns: 4px;
    --tablet-gap-buttons-links: 8px;
    --tablet-gap-paragraphs: 24px;
    --tablet-gap-box-elements-gap: 32px;
    --tablet-gap-has-button-gap: 48px;
    --tablet-gap-parents-elements-gap: 96px;
    --tablet-gap-header-gap: 104px;
    --tablet-gap-main-gap: 160px;

    --tablet-padding-none: 0px;
    --tablet-padding-elements-inline-padding: 24px;
    --tablet-padding-box: 32px;
    --tablet-padding-element-block-padding: 48px;
    --tablet-padding-page-padding: 64px;
    --tablet-padding-body-padding-top: 144px;
  }