
:root {
    --gap-none: 0px;
    --caption-columns: 4px;
    --buttons-links: 8px;
    --paragraphs: 24px;
    --box-elements-gap: 32px;
    --has-button-gap: 48px;
    --parents-elements-gap: 104px;
    --header-gap: 128px;
    --main-gap: 200px;

    --padding-none: 0px;
    --box-padding: 32px;
    --elements-inline-padding: 48px;
    --element-block-padding: 64px;
    --page-padding: 96px;
    --body-top-padding: 160px;
}

@include devices(tablet) {
    :root {
        --gap-none: 0px;
        --caption-columns: 4px;
        --buttons-links: 8px;
        --paragraphs: 20px;
        --box-elements-gap: 32px;
        --has-button-gap: 48px;
        --parents-elements-gap: 96px;
        --header-gap: 104px;
        --main-gap: 128px;

        --padding-none: 0px;
        --box-padding: 32px;
        --elements-inline-padding: 32px;
        --element-block-padding: 48px;
        --page-padding: 64px;
        --body-top-padding: 144px;
    }
}

@include devices(phone) {
    :root {
        --gap-none: 0px;
        --caption-columns: 4px;
        --buttons-links: 8px;
        --paragraphs: 16px;
        --box-elements-gap: 24px;
        --has-button-gap: 32px;
        --parents-elements-gap: 64px;
        --header-gap: 80px;
        --main-gap: 104px;

        --padding-none: 0px;
        --box-padding: 24px;
        --elements-inline-padding: 32px;
        --element-block-padding: 48px;
        --page-padding: 48px;
        --body-top-padding: 96px;
    }
}
