@font-face {
    font-family: "Fancyou";
    src:
        local("Fancyou"),
        local("FancyouRegular"),
        url("/src/assets/fonts/FancyouRegular.woff2") format("woff2"),
        url("/src/assets/fonts/FancyouRegular.woff") format("woff"),
        url("/src/assets/fonts/FancyouRegular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src:
        url("/src/assets/fonts/Manrope.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}

:root {
    --font-size: 20px;
    --font-family: "Manrope";
}

$steps: 4;

@function calculate-font-size($baseFontSize, $steps) {
    $fontSize: $baseFontSize;
    @for $i from 1 through $steps {
        $fontSize: $fontSize / 1.19;
    }
    @return $fontSize;
}

/*
    H E A D I N G S
*/
@mixin h1($baseFontSize: 112.2px) {
    font-family: "Fancyou";
    line-height: 1.1;
    font-weight: normal;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 1);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps);
    }

}

@mixin h2($baseFontSize: 84.17px) {
    font-family: "Fancyou";
    line-height: 1.1;
    font-weight: normal;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps);
    }
}

@mixin h3($baseFontSize: 63.15px) {
    font-family: "Fancyou";
    line-height: 1.3;
    font-weight: normal;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 1);
    }
}

@mixin h4($baseFontSize: 47.37px) {
    font-family: "Fancyou";
    line-height: 1.4;
    font-weight: 500;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 1);
    }
}

@mixin h5($baseFontSize: 35.52px) {
    font-family: "Fancyou";
    line-height: 1.4;
    font-weight: 500;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 1);
    }
}

@mixin s1($baseFontSize: 480px) {
    font-family: "Fancyou";
    line-height: 0.8;
    font-weight: normal;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 1);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps);
    }
}

/*
    C O P Y
*/

@mixin p1($baseFontSize: 20px) {
    font-family: "Manrope";
    font-weight: 400;
    line-height: 1.8;
    white-space: pre-line;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: $baseFontSize;
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }
}

@mixin p2($baseFontSize: 15px) {
    font-family: "Manrope";
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-line;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: $baseFontSize;
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }
}

@mixin c1($baseFontSize: 11.26px) {
    font-family: "Manrope";
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-line;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: $baseFontSize;
    }

    @include devices(sm-laptop) {
        font-size: $baseFontSize;
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }
}

@mixin b1($baseFontSize: 24px) {
    font-family: "Manrope";
    font-weight: 400;
    line-height: 0.75;
    font-size: $baseFontSize;

    @include devices(desktop) {
        font-size: $baseFontSize;
    }

    @include devices(laptop) {
        font-size: $baseFontSize;
    }

    @include devices(sm-laptop) {
        font-size: calculate-font-size($baseFontSize, $steps - 3);
    }

    @include devices(phone) {
        font-size: calculate-font-size($baseFontSize, $steps - 2);
    }
}
